body{
	font-size: 20px;
	color: #4d7488;
}

h2{
	margin-top: 0px;
}

.righted{
	text-align: right;
}

.well{
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.global_header{
	background-color: #4d7488;
}

.global_header h1{
	margin-top: 60px;
	font-size: 3em;
	color: white;
}

.global_header p{
	/* color: #aa9c84; */
	color: white;

	padding-bottom: 60px;
}

.global_history div{
	padding-top: 60px;
}

hr.primary_hr{
	border: 1px solid #4d7488;
	margin: 60px 0px;
}

.global_programm{
	margin-top: 60px;
}

.global_programm h2{
	color: #4d7488;
	padding-left: 15px;
}

.global_programm img{
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.global_proposition{
	margin-top: 60px;
}

.jumbotron{
	background-color: transparent;
	margin-bottom: 0px;
}

.jumbotron li{
	font-size: 16px;
}

.global_registration{
	margin-top: 60px;
}

.global_registration button{
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}

.global_registration h2{
	margin-bottom: 40px;
}

.sponsors h2{
	margin-bottom: 40px;
}

.sponsors .row{
	margin-left: 0px;
}

.footer{
	margin-top: 60px;
	height: 20vh;
	background-color: #4d7488;
	color: white;
	padding-top: 30px;
}

.footer a{
	color: white;
}

#share-buttons img {
	width: 35px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
}