<div ng-controller="CommunityPageCtrl">

    <!--Просмотр-->
    <div class="row" ng-if="!editor.info">
        <div class="col-xs-3 col-md-2">
            <a ng-href="{{community.url || '#/community/' + community.id}}">
                <img class="img-responsive communities-list-logo-img" ng-src="{{community.logo}}" alt="Лого"/>
            </a>
        </div>
        <div class="col-xs-9 col-md-10">
            <ul class="list-unstyled">
                <li class="row">
                    <div class="col-md-9">
                        <h3><a ng-href="{{community.url || '#/community/' + community.id}}">{{community.title}}</a></h3>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-link pull-right" pu-access="['@community.owner','admin']" ng-click="edit('info')">редактировать</button>
                    </div>
                </li>
                <li>
                    <p>{{community.abstract}}</p>
                </li>
            </ul>
        </div>
    </div>

    <!--Редактирование-->
    <div class="row" ng-if="editor.info">
        <div class="col-xs-3 col-md-2">
            <a ng-href="{{communityUpd.url || '#/community/' + communityUpd.id}}">
                <img class="img-responsive communities-list-logo-img" ng-src="{{communityUpd.logo}}" alt="Лого"/>
            </a>
            <p><input class="form-control input-sm" type="text" ng-model="communityUpd.logo" placeholder="Ссылка на логотип"></p>
            <p pu-access="['admin']" ng-if="!creating">
                Владелец:
                <input class="form-control input-sm" type="text" ng-model="communityUpd.owner" placeholder="ID владельца">
            </p>
        </div>
        <div class="col-xs-9 col-md-10">
            <ul class="list-unstyled form-horizontal">
                <li class="form-group">
                    <div class="col-md-9">
                        <input class="form-control" type="text" ng-model="communityUpd.title" pu-link-input="communityUpd.url" placeholder="Название">
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-link pull-right" pu-access="['@community.owner','admin']" ng-click="cancel('info')">отмена</button>
                    </div>
                </li>
                <li class="form-group">
                    <div class="col-md-12">
                        <textarea class="form-control" rows="3" ng-model="communityUpd.abstract" placeholder="Кратко о сообществе"></textarea>
                    </div>
                </li>
                <li class="form-group">
                    <div class="col-md-12" ng-if="!creating">
                        <button class="btn btn-primary pull-right" ng-click="save()">Сохранить</button>
                        <button class="btn btn-danger pull-left" ng-click="remove()">Удалить сообщество</button>
                    </div>
                    <div class="col-md-12" ng-if="creating">
                        <div pu-access="['!guest']">
                            <button class="btn btn-success pull-right" ng-click="create()">Создать сообщество</button>
                        </div>
                        <div pu-access="['guest']" pu-after-auth="create()"
                             login-title="Войти и создать сообщество"
                             register-title="Зарегистрироваться и создать сообщество">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <tabset justified="true" ng-if="!creating">
        <tab heading="Мероприятия" active="tab.events">
            <div ng-include="'app/community/views/page/events/template.html'"></div>
        </tab>
        <tab heading="Описание" active="tab.note">
            <!--Просмотр-->
            <ul class="list-unstyled" ng-if="!editor.note">
                <li class="row">
                    <div class="col-md-3 col-md-offset-9">
                        <button class="btn btn-link pull-right" pu-access="['@community.owner','admin']" ng-click="edit('note')">редактировать</button>
                    </div>
                </li>
                <li>
                    <p>{{community.note}}</p>
                </li>
            </ul>

            <!--Редактирование-->
            <ul class="list-unstyled form-horizontal" ng-if="editor.note">
                <li class="form-group">
                    <div class="col-md-3 col-md-offset-9">
                        <button class="btn btn-link pull-right" pu-access="['@community.owner','admin']" ng-click="cancel('note')">отмена</button>
                    </div>
                </li>
                <li class="form-group">
                    <div class="col-md-12">
                        <textarea class="form-control" rows="5" ng-model="communityUpd.note" placeholder="О сообществе"></textarea>
                    </div>
                </li>
                <li class="form-group">
                    <div class="col-md-12 ">
                        <button class="btn btn-primary pull-right" ng-click="saveNote()">Сохранить</button>
                    </div>
                </li>
            </ul>
        </tab>
        <tab heading="Участники" active="tab.members">
            Список участников
        </tab>
    </tabset>

</div>