<!--<div ng-controller="MainHomeCtrl">-->
    <!--<div class="col-xs-3 col-md-3">-->
        <!--<img class="visible-lg" src="app/main/img/logo_150x54.png">-->
        <!--<img class="hidden-lg" src="app/main/img/logo_100.png">-->
    <!--</div>-->
    <!--<div class="col-xs-9 col-md-9">-->
        <!--<h2><a href="#">Piter United</a></h2>-->
        <!--<p>Объединенное IT-сообщество Петербурга создано для обмена знаниями и опытом профессиональных IT сообществ.</p>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="media" ng-controller="MainHomeCtrl">-->
    <!--<a class="pull-left" href="#">-->
        <!--<img src="app/main/img/logo_100.png" class="communities-list-logo-img">-->
    <!--</a>-->
    <!--<div class="media-body">-->
        <!--<h3 class="media-heading"><a href="#">Piter United</a></h3>-->
        <!--<p>Объединенное IT-сообщество Петербурга создано для обмена знаниями и опытом профессиональных IT сообществ.</p>-->
    <!--</div>-->
<!--</div>-->
<div class="media main-home" ng-controller="MainHomeCtrl">
    <a class="pull-left" href="#">
        <img class="main-home-img" src="app/main/img/logo_200x71.png">
    </a>
    <div class="media-body main-home-text">
        <p>Объединенное IT-сообщество Петербурга создано для обмена знаниями и опытом профессиональных IT сообществ.</p>
    </div>
</div>