---
layout: itgm
title: IT Global Meetup
---

<a id="top"></a>
		
<div class="nav-container">
				
		<nav class="overlay-nav show-content">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<a href="/main.html">
							<img alt="Logo" class="logo logo-light" src="/itgm/img/punited.png">
							<img alt="Logo" class="logo logo-dark" src="/itgm/img/punited-dark.png">
						</a>
					</div>
			
					<div class="col-md-10 text-right">
						<ul class="menu" style="margin-right: 32px;">
							<li><a class="inner-link" href="#about" target="default">Формат</a></li>
							<li><a class="inner-link" href="#participants" target="default">Участники</a></li>
							<li><a class="inner-link" href="#schedule" target="default">Программа</a></li>

							<li><a class="inner-link" href="#registration" target="default">Регистрация</a></li>
							<li><a class="inner-link" href="#contacts" target="default">Контакты</a></li>

							<!-- Social Links -->
							
							<li class="social-link"><a href="" data-type="twitter" data-url="piter-united.ru/itgm/itgm.html" data-description="IT Global Meetup #4 в СПб. 28 февраля 2015." data-media="/itgm/img/afa.png"><i class="icon social_twitter"></i></a></li>
							
							<li class="social-link"><a href="" data-type="facebook" data-url="piter-united.ru/itgm/itgm.html" data-description="IT Global Meetup #4 в СПб. 28 февраля 2015." data-media="/itgm/img/afa.png"><i class="icon social_facebook"></i></a></li>

							<li class="social-link"><a href="" data-type="googleplus" data-url="piter-united.ru/itgm/itgm.html" data-description="IT Global Meetup #4 в СПб. 28 февраля 2015." data-media="/itgm/img/afa.png"><i class="icon social_googleplus"></i></a></li>
						</ul>
						<div class="sidebar-menu-toggle"><i class="icon icon_menu"></i></div>
						<div class="mobile-menu-toggle"><i class="icon icon_menu"></i></div>
					</div>
				</div><!--end of row-->
			</div><!--end of container-->

		<!--
		<a href="http://www.facebook.com/sharer.php?u=http://piter-united.ru" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>

		<a href="http://twitter.com/share?url=http://piter-united.ru&text=Весенний IT Global Meetup - 30 мая в Музее Связи, СПб" target="_blank"></a>

		<a href="https://plus.google.com/share?url=http://piter-united.ru" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/google.png" alt="Google" /></a>

		<a href="http://www.linkedin.com/shareArticle?mini=true&url=http://piter-united.ru" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" /></a>
	-->
	
			<div class="bottom-border"></div>
	
			<div class="sidebar-menu">
				<img alt="Logo" class="logo" src="img/logo.png">
				<div class="bottom-border"></div>
				<div class="sidebar-content">
			
					<div class="widget">
						<ul class="menu" style="margin-right: 32px;">
							<li><a class="inner-link" href="#about" target="default">Формат</a></li>
							<li><a class="inner-link" href="#participants" target="default">Участники</a></li>
							<li><a class="inner-link" href="#schedule" target="default">Программа</a></li>
							<!--
							<li><a class="inner-link" href="#speakers" target="default">Спикеры</a></li>
						-->
							<li><a class="inner-link" href="#registration" target="default">Регистрация</a></li>
							<li><a class="inner-link" href="#contacts" target="default">Контакты</a></li>
							<li class="social-link"><a href="" data-type="twitter" data-url="piter-united.ru/itgm/itgm.html" data-description="IT Global Meetup #4 в СПб. 28 февраля 2015." data-media="/itgm/img/afa.png"><i class="icon social_twitter"></i></a></li>
							
							<li class="social-link"><a href="" data-type="facebook" data-url="piter-united.ru/itgm/itgm.html" data-description="IT Global Meetup #4 в СПб. 28 февраля 2015." data-media="/itgm/img/afa.png"><i class="icon social_facebook"></i></a></li>

							<li class="social-link"><a href="" data-type="googleplus" data-url="piter-united.ru/itgm/itgm.html" data-description="IT Global Meetup #4 в СПб. 28 февраля 2015." data-media="/itgm/img/afa.png"><i class="icon social_googleplus"></i></a></li>
						</ul>
					</div>
			
					<div class="widget">
						<!--
						<ul class="social-profiles">
							<li class="social-link"><a href="" data-type="twitter" data-url="piter-united.ru/itgm/itgm.html" data-description="IT Global Meetup в СПб. 28 ноября в Club House" data-media="/itgm/img/afa.png"><i class="icon social_twitter"></i></a></li>
							
							<li class="social-link"><a href="" data-type="facebook" data-url="piter-united.ru/itgm/itgm.html" data-description="IT Global Meetup в СПб. 28 ноября в Club House" data-media="/itgm/img/afa.png"><i class="icon social_facebook"></i></a></li>

							<li class="social-link"><a href="" data-type="googleplus" data-url="piter-united.ru/itgm/itgm.html" data-description="IT Global Meetup в СПб. 28 ноября в Club House" data-media="/itgm/img/afa.png"><i class="icon social_googleplus"></i></a></li>
						</ul>
					--> 
						<ul class="social-profiles">
							<li><script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,gplus" data-yashareTheme="counter"></div></li>
						</ul>
					</div>
			
					<div class="copy-text">
						<span>© Copyright 2014 Meetup Inc.</span>
					</div>
				</div><!--end of sidebar content-->
			</div><!--end of sidebar-->
		</nav>
</div>

<div class="main-container show-content"><a id="home" class="in-page-link"></a>
	
	<section class="hero-slider">
		<ul class="slides">
			<li class="countdown-header primary-overlay">
				<div class="background-image-holder parallax-background">
					<img class="background-image" alt="About Image" src="img/hero5.png">
				</div>
			
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<img alt="logo" class="logo" src="img/logo.png">
							<span class="uppercase text-white">28 февраля 2015 с 12.00 до 19.00 - Санкт-Петербург, ... место проведения уточняется ...</span>
							<h1 class="text-white large-h1">Слет ИТ-сообществ Санкт-Петербурга</h1>
						</div>
					</div><!--end of row-->
				
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
							<div class="centered-title"><p class="text-white">до слета осталось...</p></div>
							<div class="countdown" data-date="2015/02/28 12:00"></div>
						</div>
					</div>
				</div><!--end of container-->
			</li>
		</ul>
	</section>
	
	<a id="about" class="in-page-link"></a>
	
	<section class="inline-video">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>О мероприятии&nbsp;</h1>
				</div>
			</div><!--end of row-->
		
			<div class="row">
				<div class="col-md-6">
					<p class="lead"> Все <nobr>ИТ-сообщества</nobr> <nobr>Санкт-Петербурга</nobr> в&nbsp;одно время в&nbsp;одном месте.</p>
					
					<p>IT&nbsp;Global Meetup&nbsp;&mdash; это уникальное событие для опытных профессионалов и&nbsp;начинающих <nobr>ИТ-специалистов</nobr>, на котором собираются вместе участники <nobr>ИТ-сообществ</nobr> <nobr>Санкт-Петербурга</nobr>, знакомятся друг с&nbsp;другом, обмениваются знаниями и&nbsp;опытом.</p>
					
					<p>IT&nbsp;Global Meetup проводится в&nbsp;рамках некоммерческой инициативы Piter United, целью которой является формирование благоприятной экосистемы для развития <nobr>ИТ-сообществ</nobr> <nobr>Санкт-Петербурга</nobr>.</p>

					<p>Присоединяйтесь к&nbsp;инициативе, приходите на&nbsp;IT&nbsp;Global Meetup, знакомьтесь, общайтесь и&nbsp;развивайтесь вместе с&nbsp;нами!</p>
					<p>Мероприятие бесплатное. Регистрация обязательна.</p>

					<button class="btn" data-toggle="modal" data-target="#myModal"> Регистрация </button>
				</div>
			
				<div class="col-md-6">
					<div class="embedded-video-holder">
						<iframe width="560" height="315" src="//www.youtube.com/embed/Tp6jP5LFWkQ" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div><!--end of row-->
		</div><!--end of container-->
	</section>

	<a id="participants" class="in-page-link"></a>
	
	<section class="topics duplicatable-content overlay">
	
		<div class="background-image-holder parallax-background">
			<img class="background-image" alt="About Image" src="">
		</div>
	
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="text-white">Участники мероприятия</h1>
				</div>
			</div><!--end of row-->
			
			<div class="row" height="40 px">
			{% for community in site.data.itgm4_communities %}
				<div class="col-md-4 col-sm-6">
					<div class="topic">
						<ul class="ruled-list text-white">
							<li> <a href=" {{ community.link }} " target="_blank" >{{ community.title }}</a></li>
						</ul>
					</div>
				</div>
			{% endfor %}
			</div>
			
		</div>
		
	</section>

	<a id="schedule" class="in-page-link"></a>
	
	<section class="schedule schedule-with-text">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-6">
					<h1>Программа мероприятия</h1>
					
					<p>Вот уже в&nbsp;третий раз, IT&nbsp;Global Meetup пройдет в формате Open Space Technology, где участники мероприятия являются одновременно и&nbsp;докладчиками и&nbsp;организаторами.<p/>
					
					<p>Каждое специализированное <nobr>ИТ-сообщество</nobr>, объединяющее в&nbsp;себе профессионалов отрасли, подготовит свой &laquo;островок&raquo;, где представит доклады и проведет интересные дискуссии. Приглашенные спикеры организуют для участников <nobr>мастер-классы</nobr> и&nbsp;прочитают свои доклады.</p>
					
					<p>Но&nbsp;самое главное, что вы&nbsp;сами сможете и, мы&nbsp;надеемся, будете предлагать темы для обсуждений, задавать вопросы и&nbsp;активно участвовать в&nbsp;мероприятии.<p/>
					
					<p>Мероприятие бесплатное. Регистрация обязательна.</p>
					
					<button class="btn" data-toggle="modal" data-target="#myModal"> Регистрация </button>
					<!--
					<a href="/itgm/prog.html" class="btn btn-hollow" target="_blank">Программа</a>
				-->
					
				</div>
				
				<div class="col-md-7 col-sm-6">
					<ul class="schedule-overview">
						<li>
							<div class="schedule-title">
								<span class="time">17:00 - 17:30</span>
								<span class="title">Регистрация участников</span>
							</div>
							
							<div class="schedule-text">
								<p>
									Мероприятие бесплатное, но Вам необходимо пройти обязательную электронную регистрацию и при посещении мероприятия - отметиться у стойки регистрации.
								</p>
							</div>
							
							<div class="marker-pin">
								<div class="top"></div>
								<div class="middle"></div>
								<div class="bottom"></div>
							</div>
						</li><!--end of individual schedule item-->
						
						<li>
							<div class="schedule-title">
								<span class="time">17.30 - 17.40</span>
								<span class="title">Открытие мероприятия</span>
							</div>
							
							<div class="schedule-text">
								<p>
									Лидеры инициативы Piter United кратко расскажут о программе и формате мероприятия.
								</p>
							</div>
							
							<div class="marker-pin">
								<div class="top"></div>
								<div class="middle"></div>
								<div class="bottom"></div>
							</div>
						</li><!--end of individual schedule item-->
						
						<li>
							<div class="schedule-title">
								<span class="time">17.40 - 18.00</span>
								<span class="title">Визитные карточки сообществ</span>
							</div>
							
							<div class="schedule-text">
								<p>
									Каждое сообщество-участник представится, расскажет о своей программе и месте расположения островка (1 минута на сообщество).
								</p>
							</div>
							
							<div class="marker-pin">
								<div class="top"></div>
								<div class="middle"></div>
								<div class="bottom"></div>
							</div>
						</li><!--end of individual schedule item-->
						
						<li>
							<div class="schedule-title">
								<span class="time">18.00 - 22.00</span>
								<span class="title">Общение на островках и выступления приглашенных спикеров</span>
							</div>
							
							<div class="schedule-text">
								<p>
									Общение на островках сообществ по заявленным программам и блиц-доклады приглашенных спикеров на специальной сцене.
								</p>
							</div>
							
							<div class="marker-pin">
								<div class="top"></div>
								<div class="middle"></div>
								<div class="bottom"></div>
							</div>
						</li>

						<li>
							<div class="schedule-title">
								<span class="time">22.00 - 22.15</span>
								<span class="title">Закрытие мероприятия</span>
							</div>
							
							<div class="schedule-text">
								<p>
									Подведение итогов мероприятия.
								</p>
							</div>
							
							<div class="marker-pin">
								<div class="top"></div>
								<div class="middle"></div>
								<div class="bottom"></div>
							</div>
						</li>
						<!--end of individual schedule item-->
					</ul>
				</div>
				
			</div><!--end of row-->
		</div><!--end of container-->
	</section>
	
	<a id="speakers" class="in-page-link"></a>
	
	<!--
	<section class="speakers">
	
		<div class="container">

			<div class="row">
				<div class="col-sm-12">
					<h1></h1>
				</div>
			</div>

			<div class="row">
		
				<div class="col-md-12 col-sm-12">
					<div class="speaker-with-bio">
						<div class="speaker">
							<div class="image-holder">
								<img class="background-image" alt="" src="">
								<div class="hover-state text-center preserve3d">
									<div class="social-links vertical-align">
										<a href="" target="_blank"><i class="icon social_linkedin"></i></a>
									</div>
								</div>
							</div>
						</div>

						<div class="speaker-description">
							<h2></h2>
							<span class="sub"></span>
							<h3></h3>
							<p></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
-->
	

	<section class="sponsors">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1>Организаторы и партнеры</h1>
				</div>
			</div>
		
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
				
				{% for sponsor in site.data.itgm4_sponsors %}
					<div class="col-md-3 col-sm-6 sponsor-column">
						<div class="sponsor text-center">
							<p></p>
							<a href=" {{sponsor.link}} " target="_blank">
								<img alt="" src=" {{sponsor.logo}} ">
							</a>
						</div>
					</div>
				{% endfor %}

				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 text-center">
					<span> Хотите стать партнером мероприятия? <a href="mailto:piterunited@gmail.com">Пишите нам</a></span>
				</div>
			</div>

			<br><br><br>

			<div class="row">
				<div class="col-sm-12 text-center">
					<h1>Информационные партнеры</h1>
				</div>
			</div>
		
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">

				{% for infopartner in site.data.itgm4_infopartners %}
					<div class="col-md-3 col-sm-6 sponsor-column">
						<div class="sponsor text-center">
							<a href=" {{infopartner.link}} " target="_blank">
								<img alt="" src=" {{infopartner.logo}} ">
							</a>
						</div>
					</div>
				{% endfor %}

				</div>
			</div>

			<!--end of row-->

		</div><!--end of container-->
	</section>
	
	<a id="registration" class="in-page-link"></a>
	
	<section class="contact-tweets">
		<div class="container vertical-align">
			<div class="row">
				<div class="col-md-5 col-sm-6">
					<h1> IT Global Meetup</h1>
					<ul>
						<li> Санкт-Петербург</li>
						<li> 28 февраля 2015</li>
						<li>с 12.00 до 19.00</li>
						<li> ... место проведения уточняется ...</li>
						<br>
						<li>Мероприятие бесплатное. <br>Регистрация обязательна.</li>
					</ul>
					<br>
					<button class="btn" data-toggle="modal" data-target="#myModal"> Регистрация </button>
					<!--
					<a class="btn btn-hollow" href="/itgm/map.html" target="_blank"> Подробная карта </a>
				-->
				</div>
			</div><!--end of row-->
		</div><!--end of container-->
	
		<div class="map-holder col-md-6 col-sm-4">
			<iframe src="https://www.google.com/maps/embed?pb=!1m22!1m12!1m3!1d1996.8289479975892!2d30.31388756495208!3d59.96816082472542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m7!1i0!3e6!4m0!4m3!3m2!1d59.969107799999996!2d30.316469599999998!5e0!3m2!1sen!2sru!4v1414663022043" width="800" height="600" frameborder="0" style="border:0"></iframe>
			<!--
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.2140611954183!2d-122.12117800000001!3d37.408414999999984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fba7963491697%3A0x2f1c2bf242a2d45d!2sElks+Lodge!5e0!3m2!1sen!2sau!4v1409714993346"></iframe>
		-->
		</div>
	</section>

	<!-- TimePad Form -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Отмена</span></button>
	        <h4 class="modal-title" id="myModalLabel">Регистрация</h4>
	      </div>
	      <div class="modal-body">
	        <a href="http://piter-united.timepad.ru/event/156625/" data-twf-placeholder="yes">Перейти к заказу билетов</a><script defer="defer" data-timepad-widget-v2="event_register" data-timepad-customized="2669" src="//timepad.ru/js/tpwf/loader/min/loader.js">
				(function(){return {"event":{"id":"156625"}}; })();
			</script>
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Отмена</span></button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<a id="contacts" class="in-page-link"></a>
	
	<section class="subscribe-2">

		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<i class="icon pe-7s-pen"></i>
					<i class="icon pe-7s-mail-open-file"></i>
					<i class="icon pe-7s-paper-plane"></i>
					<h1 class="large-h1">Есть вопросы?</h1>
					<a href="mailto:piterunited@gmail.com" class="btn btn-hollow"> Напиши! </a>
				</div>
			</div>
		</div>
	
	</section>

	<section class="lightbox-gallery preserve-3d">

		<div class="gallery-holder">
			<ul>
			{% for photo in site.data.itgm3_photos %}
				<li>
					<a href=" {{ photo.link }} " class="lightbox-link-mrv" data-lightbox="true" data-title="Meetup 2013">
						<div class="background-image-holder">
							<img class="background-image" alt="Lightbox Image" src=" {{ photo.link }} ">
						</div>
					</a>
				</li>
			{% endfor %}	
			</ul>
		</div>

		
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div>
						<i class="icon pe-7s-camera text-white"></i>
						<h1 class="text-white">Фото-архив IT Global Meetup</h1>
						<span class="lead text-white">Мы ждем Вас снова! <strong></strong></span>	
					</div>
				</div>
			</div><!--end of row-->
		</div><!--end of container-->
	</section>
</div>
<div class="footer-container">			
	<footer class="classic">
		<div class="container">
			<div class="row">
				<!--
				<div class="col-sm-3">
					<ul class="menu">
						<li><a href="#">Press</a></li>
						<li><a href="#">Terms of service</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
						<li><a class="inner-link back-to-top" href="#top">Back To Top</a></li>
					</ul>
				</div>
			-->
				<div class="col-sm-6">
					<ul class="contact-methods">
						<li><i class="icon pe-7s-mail"></i><span>piterunited@gmail.com</span></li>
						<li><i class="icon pe-7s-phone"></i><span>+7(921)919-00-25</span></li>
						<li><i class="icon pe-7s-map-marker"></i><span>Санкт-Петербург</span></li>
					</ul>
				</div>

				<div class="col-sm-6">
					<span class="lead color-heading">IT Global Meetup</span>
					<p>IT&nbsp;Global Meetup проводится в&nbsp;рамках некоммерческой инициативы Piter United, целью которой является формирование благоприятной экосистемы для развития <nobr>ИТ-сообществ</nobr> <nobr>Санкт-Петербурга</nobr>.</p>
				</div>
			
				
			</div><!--end of row-->
		
			<div class="row">
				<div class="col-sm-12 text-center">
					<!--
					<ul class="social-profiles">
						<li class="social-link"><a href="" data-type="twitter" data-url="piter-united.ru/itgm/itgm.html" data-description="IT Global Meetup в СПб. 28 ноября в Club House" data-media="/itgm/img/afa.png"><i class="icon social_twitter"></i></a></li>
							
						<li class="social-link"><a href="" data-type="facebook" data-url="piter-united.ru/itgm/itgm.html" data-description="IT Global Meetup в СПб. 28 ноября в Club House" data-media="/itgm/img/afa.png"><i class="icon social_facebook"></i></a></li>

						<li class="social-link"><a href="" data-type="googleplus" data-url="piter-united.ru/itgm/itgm.html" data-description="IT Global Meetup в СПб. 28 ноября в Club House" data-media="/itgm/img/afa.png"><i class="icon social_googleplus"></i></a></li>
					</ul>
				-->
					<script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,gplus" data-yashareTheme="counter"></div>	
				</div>
			</div><!--end of row-->
		</div><!--end of container-->
	</footer>
</div>
