---
layout: itgm7
title: IT Global Meetup #7
---

<!--


&lt;!&ndash;PRELOADING&ndash;&gt;
<div id="preload">
    <div class="preload">
        <div class="spinner"></div>
    </div>
</div>

-->


<!-- NAVIGATION -->
<nav id="nav-primary" class="navbar navbar-custom" role="navigation" style="height: 75px; padding-top:0px">
    <div class="container" style="height: 75px; padding-top:0px; line-height:5px; padding-top:0px">


        <div class="text-right">

            <!--data-services="vkontakte,facebook,twitter,gplus,linkedin,viber,whatsapp,odnoklassniki,moimir"-->
            <!-- c gplus какие-то проблемы (картинку так и хочет от спонсора вствить) by Semka 2016-03-09 -->
            <div class="ya-share2"
                 data-services="vkontakte,facebook,gplus,twitter,linkedin,viber,whatsapp,odnoklassniki,moimir"
                 data-counter
                 data-image="http://piter-united.ru/itgm7/img/site_logo/itgm_logo2.png"
                 data-lang="ru"
                 counter="true"
                 data-size="s"
                 data-title="IT Global Meetup #7"
                 data-description="02 апреля 2016, с 11.00 до 18.00. 7-й слет ИТ-сообществ Санкт-Петербурга. КДЦ Club House - СПб, пр. Медиков 3."
                 data-url="http://piter-united.ru/itgm7/itgm.html"></div>
        </div>

        <!--</div>-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/main.html"><img src="img/site_logo/main_logo_white.png" alt="logo" class="img-responsive"
                                      width="40px"></a>
        </div>

        <div class="collapse navbar-collapse" id="nav">
            <ul class="nav navbar-nav navbar-right uppercase">
                <li><a data-toggle="elementscroll" href="#info">О мероприятии</a></li>
                <li><a data-toggle="elementscroll" href="#communities">Сообщества</a></li>
                <li><a data-toggle="elementscroll" href="#program">Программа</a></li>
                <li><a data-toggle="elementscroll" href="#register">Регистрация</a></li>
                <li><a data-toggle="elementscroll" href="#sponsors">Партнеры</a></li>
                <li><a data-toggle="elementscroll" href="#gallery">Фотогалерея</a></li>
                <li><a data-toggle="elementscroll" href="#venue">Место проведения</a></li>
            </ul>
        </div>
        </div>
</nav>




<div class="slider">
    <div class="col-md-6 col-xs-12"></div>
    <div class="col-md-6 col-xs-12">
        <h1>IT Global Meetup #7</h1>
        <p>2 апреля 2016 c 11.00 до 18.00 <br> КДЦ "Club House", пр. Медиков д.3 к.1</p>
            <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <meta itemprop="name" content="КДЦ Club House"/>
                    <meta itemprop="streetAddress" content="пр. Медиков д.3 к.1"/>
                    <meta itemprop="addressLocality" content="Санкт-Петербург"/>
                    <meta itemprop="addressRegion" content="SPB"/>
                    <meta itemprop="postalCode" content="123456"/>
                    <meta itemprop="addressCountry" content="RU"/>
                </div>
            </div>
        <br>
        <a class="button button-small button-line-light html-popup" href="register.html">зарегистрироваться</a>
    </div>
</div>




<!-- FULLSCREEN SLIDER -->
<!-- <div class="tp-banner-container">
  <div class="tp-banner">
    <ul>  
      <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="1000" data-thumb="img/slide_thumb_1.jpg"  data-saveperformance="off"  data-title="Slide">
          <img src="img/texture4_.jpg"  alt="fullslide1"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
          <div style="z-index: 3;">
            <h1> IT Global Meetup 7</h1>
            <p>Test</p>
            <a class="button button-small button-line-light html-popup" href="register.html">register now</a>
          </div>
          <div class="tp-caption light_heavy_70_shadowed lfb ltt tp-resizeme"
              data-x="center" data-hoffset="250"
              data-y="center" data-voffset="-70"
              data-speed="600"
              data-start="800"
              data-easing="Power4.easeOut"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.01"
              data-endelementdelay="0.1"
              data-endspeed="500"
              data-endeasing="Power4.easeIn"
              style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">IT Global Meetup #7
          </div>
  
          <div class="tp-caption light_medium_30_shadowed lfb ltt tp-resizeme"
              data-x="center" data-hoffset="240"
              data-y="center" data-voffset="10"
              data-speed="600"
              data-start="900"
              data-easing="Power4.easeOut"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.01"
              data-endelementdelay="0.1"
              data-endspeed="500"
              data-endeasing="Power4.easeIn"
              style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"> <strong>02 апреля 2016</strong> в Санкт-Петербурге. <br> пр. Медиков д.3 корп.1, КДЦ "Club House".
              <br>
              <a class="button button-small button-line-light html-popup" href="register.html">register now</a>
          </div>
      </li>
    </ul>   
    <div class="tp-bannertimer"></div>  
  </div>
</div> -->




<!-- HIGHLIGHT -->
<section id="highlight">
    <div class="container-fluid">
        <div class="row">

            <div id="left" class="left col-lg-9 col-md-8 text-right">
                <h3>Присоединяйся</h3>
                <p>До слета осталось...
            </div>

            <div id="right" class="col-lg-3 col-md-4 text-left">
                <div id="countdown"></div>
            </div>

        </div>
    </div>
</section>




<!-- INFO -->
<section id="info">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 text-center">
                <h1>IT Global Meetup #7</h1>
                <p class="lead">Слет IT-сообществ Санкт-Петербурга и Ленинградской области. <br>
                    Цель мероприятия - обмен профессиональным опытом между IT-специалистами.<br>
                    Общение происходит на "островках сообществ", где участники знакомятся, <br>
                    обсуждают профессиональные темы, высказывают мнения, спорят и ищут решения.</p>
            </div>

            <!--отступ между "описанием слета" и "обмен опытом"/"личный брендинг"/"нетворкинг"-->
            <div style="width: 550px; height: 300px; margin-left:auto; margin-right:auto"></div>

            <div class="col-lg-10 col-lg-offset-1 col-md-12 text-center">
                <div class="row">

                    <div class="feature col-lg-4 col-md-4 col-sm-4">
                        <i class="pe-4x pe-7s-refresh-2"></i>
                        <h4>Обмен опытом</h4>
                        <p>Возьмите 100% от мероприятия, задавайте вопросы, предлагайте решения, высказывайте
                            мнения.</p>
                    </div>

                    <div class="feature col-lg-4 col-md-4 col-sm-4">
                        <i class="pe-4x pe-7s-micro"></i>
                        <h4>Личный брендинг</h4>
                        <p>Выступайте, рассказывайте о своих достижениях, заинтересуйте своей экспертизой.</p>
                    </div>

                    <div class="feature col-lg-4 col-md-4 col-sm-4">
                        <i class="pe-4x pe-7s-network"></i>
                        <h4>Нетворкинг</h4>
                        <p>Знакомьтесь с коллегами из других компаний, находите единомышленников.</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>




<!-- FUNFACTS -->
<section id="funfacts">
    <div class="funfacts-inner">
        <div class="container">
            <div class="row">

                <h2 class="hidden">funfacts</h2>

                <div class="col-lg-10 col-lg-offset-1">
                    <div id="funfacts-carousel">

                        <div class="item">
                            <i class="pe pe-4x pe-7s-world"></i>
                            <div class="desc">
                                <p class="number">30</p>
                                <p class="description">сообществ</p>
                            </div>
                        </div>

                        <div class="item">
                            <i class="pe pe-4x pe-7s-micro"></i>
                            <div class="desc">
                                <p class="number">80</p>
                                <p class="description">выступлений</p>
                            </div>
                        </div>

                        <div class="item">
                            <i class="pe pe-4x pe-7s-display2"></i>
                            <div class="desc">
                                <p class="number">120</p>
                                <p class="description">спикеров</p>
                            </div>
                        </div>

                        <div class="item">
                            <i class="pe pe-va pe-4x pe-7s-id"></i>
                            <div class="desc">
                                <p class="number">600</p>
                                <p class="description">участников</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>




<!-- Promo Video -->
<!-- <iframe src="https://player.vimeo.com/video/138511320?title=0&byline=0&portrait=0" width="100%" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->




<!-- COMMUNITIES -->
<section id="communities">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h3 class="">Сообщества</h3>
                <p class="lead">Все IT-сообщества Петербурга в одно время в одном месте.</p>
            </div>

            <ul id="list-speaker" class="list-unstyled">
                {% for community in site.data.itgm7_communities %}

                <a href="{{ community.link }}" target="_blank">
                    <li class="col-lg-3 col-md-3 col-sm-4">
                        <div class="speaker">
                            <div class="caption text-center">
                                <h4>{{ community.title }}</h4>
                                <p class="community">Санкт-Петербург</p>
                            </div>
                        </div>
                    </li>
                </a>

                {% endfor %}

                <!-- SPEAKER 1 -->
                <!-- <li class="col-lg-3 col-md-3 col-sm-4">
                    <div class="speaker">
                        <figure class="effect-ming">
                            <img class="img-responsive" src="img/speaker1.png" alt=""/>
                            <figcaption>
                                <span><a class="html-popup" href="speaker-detail.html"><img class="img-responsive" src="img/plus.png" alt=""></a></span>
                            </figcaption>
                        </figure>

                        <div class="caption text-center">
                            <h4>Stanley Willis</h4>
                            <p class="community">Fermentum Co.</p>
                        </div>
                    </div>
                </li> -->

            </ul>

            <!-- <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <a id="loadmore" class="button button-small button-line-dark">load more</a>
            </div> -->

        </div>
    </div>
</section>




<!-- PROGRAM -->
<section id="program">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="">Общая программа мероприятия</h3>
                <p class="lead">Программа мероприятия нацелена на обмен опытом и общением с коллегами из других
                    компаний.</p>

                <!-- SCHEDULE TAB -->
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#day1" id="day1-tab" role="tab" data-toggle="tab"
                                                              aria-controls="day1" aria-expanded="true">02 апреля</a>
                    </li>
                </ul>

                <!-- CONTENT -->
                <div id="myTabContent" class="tab-content">

                    <!-- DAY 1 -->
                    <div role="tabpanel" class="tab-pane fade active in" id="day1" aria-labelledby="day1-tab">
                        <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">

                            {% for program in site.data.itgm7_programms %}

                            <!-- PROGRAM 1-->
                            <div class="panel panel-default">

                                <!-- Program Heading -->
                                <div class="panel-heading" role="tab" id="heading1">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <p class="date">{{program.time}}</p>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#{{program.id}}" aria-expanded="true" aria-controls="{{program.id}}">{{program.title}}</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                                <div id="{{program.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">

                                    <!-- Program Content -->
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-2">
                                                <img class="img-responsive img-circle" src="{{program.logo}}" alt="">
                                            </div>

                                            <div class="col-lg-10 col-md-10 col-sm-10">
                                                <!--<p class="speaker-name uppercase">холл</p>-->
                                                <!--<h4>заголовок</h4>-->
                                                <p>{{program.text}}</p>
                                                <br>

                                                <p><i class="fa fa-lg fa-clock-o"></i> <span class="small">{{program.duration}}</span></p>
                                                <p><i class="fa fa-lg fa-map-marker"></i> <span class="small">{{program.place}}</span></p>
                                                <!--<p><i class="fa fa-lg fa-signal"></i> <span class="small">Beginner</span></p>-->
                                            </div>

                                            <!--
                                            <div class="col-lg-3 col-md-3 col-sm-10">
                                                <h5>About Stanley Willis</h5>
                                                <p class="small">Sed non congue nunc. Fusce pulvinar elementum rhoncus. Duis sit amet metus erat. Sed et ligula mattis, dictum nisl et, vestibulum urna.</p>
                                                <span class="about-speaker"><i class="fa fa-lg fa-globe"></i> <a class="small" href="#">themecube.net</a></span>
                                            </div>
                                            -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
</section>




<!-- DOWNLOAD PROGRAMM (ссылка на программу) -->
<section id="download">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-2">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-1 prog-icon">
                        <span class="pe-4x pe-7s-note2 program-icon"></span>
                        <!-- <img class="img-responsive" src="img/download.png" alt=""> -->
                    </div>
                    <div class="col-lg-12 col-md-10 col-sm-12">
                        <h3>Программы мероприятий сообществ</h3>
                        <p>У каждого IT-сообщества в рамках слета будет свой "островок".<br>
                            На островках сообщества представят заранее подготовленные программы.<br>
                            Каждая программа состоит из 4-х секций (докладов/презентаций) по 45 минут.<br>
                            В рамках секций вы сможете получить новые знания, задать вопросы,<br>
                            поделиться профессиональным опытом и обменяться контактами.</p>
                        <br>
                        <a class="button button-small button-line-dark" href="https://docs.google.com/spreadsheets/d/1IkVe1NmC4xDiSsNh5BS2-H78diSxQWYOrgDP1OKIM8Y/pubhtml?gid=1681023721&single=true" target="_blank">открыть программу</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- REGISTER -->
<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-center">Регистрация</h3>
                <p class="lead text-center">Целевая аудитория мероприятия: IT-специалисты.<br>
                    Участие бесплатное. Обязательным условием является регистрация.</p> <br>
            </div>
            <div class="col-lg-12 text-center">
                <a class="button button-small button-line-light html-popup" href="register.html">зарегистрироваться</a>
            </div>
        </div>
    </div>
</section>




<!-- SPONSORS -->
<section id="sponsors">
    <div class="container">
        <div class="row" >
            <div class="col-lg-12">
                <h3> Партнеры мероприятия</h3>
                <p class="lead">Инициативу и слет поддерживают лучшие IT-компании.</p>
                <div id="sponsors-carousel">
                    {% for sponsor in site.data.itgm7_sponsors %}
                    <a href="{{sponsor.link}}" target="_blank" title="{{sponsor.desc}}">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <div align="center">
                            <img class="img-responsive" src="{{sponsor.logo}}" alt="{{sponsor.title}}">
                            <div class="text-muted">
                                <!--<div align="center">-->
                            {{sponsor.level}}
                            </div>
<!--                            {% if sponsor.level == "Золотой партнер" %}
                            <b>-->
                                <!--<div class="center">{{sponsor.level}}</div>-->
                            <!--</b>
                            {% elsif sponsor.level == "Серебряный партнер" %}
                            <div >{{sponsor.level}}</div>
                            {% elsif sponsor.level == "Организатор" %}
                            <div >{{sponsor.level}}</div>
                            {% else %}
                            {{sponsor.level}}
                            {% endif %}-->
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>




<!-- INFOPARTNERS -->
<section id="infopartners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Информационные партнеры</h3>
                <p class="lead">Инициативу и слет поддерживают лучшие IT-компании.</p>
                <div id="sponsors-carousel">
                    {% for sponsor in site.data.itgm7_infopartners %}
                    <a href="{{sponsor.link}}" target="_blank">
                        <div class="sponsor col-lg-2">
                            <img class="img-responsive" width="150px" src="{{sponsor.logo}}" alt="{{sponsor.title}}">
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>




<!-- DONATION (Поддержка мероприятия) -->
<section id="donation">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h3 class="text-center">Поддержка мероприятия</h3>
                <p class="donate-form-main-text">Все собранные нами средства пойдут на покрытие организационных расходов мероприятия,<br>
                                                 либо на закупку инвентаря необходимого сообществам (бумагу, флипчарты, ролл-апы и т.д.).<br>
                                                 Мы будем вам очень признательны за поддержку мероприятия!</p>
            </div>

            <div class="donate-form">
                <iframe frameborder="0" allowtransparency="true" scrolling="no"
                        src="https://money.yandex.ru/embed/shop.xml?account=410011943203218&quickpay=shop&payment-type-choice=on&writer=seller&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%BA%D0%B0+%D0%B1%D0%B5%D1%81%D0%BF%D0%BB%D0%B0%D1%82%D0%BD%D0%BE%D0%B3%D0%BE+%D0%BC%D0%B5%D1%80%D0%BE%D0%BF%D1%80%D0%B8%D1%8F%D1%82%D0%B8%D1%8F&targets-hint=&default-sum=500&button-text=03&fio=on&successURL=http%3A%2F%2Fpiter-united.ru"
                        width="450" height="198"></iframe>
            </div>

            <p class="donate-form-subfooter"><i>Вы можете поддержать нас финансово (любой суммой), а можете <a
                    href="mailto:piterunited@gmail.com">стать волонтером</a></i>.</p>
        </div>
    </div>
</section>




<!-- GALLERY -->
<section id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3> Фотогалерея </h3>
                <p class="lead">Фотографии с прошлых мероприятий.</p>

                <div id="timeline" data-columns>
                    {% for photo in site.data.itgm7_photos %}
                    <div class="item wrap">
                        <img class="img-responsive" src=" {{photo.photo}} " alt="">
                        <div class="overlay"></div>
                        <div class="icon">
                            <a class="image-popup" href="{{photo.photo}}" title=""><i class="pe-3x pe-7s-plus"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>



<!-- TESTIMONIAL -->
<section id="testimonial">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 no-padding">
                <div class="testimonial-inner">
                    <h2 class="hidden">testimonial</h2>
                    <div id="testimonial-carousel">
                        <div class="item">
                            <img class="img-circle" src="img/testimonials_photo/testimonial1.png" alt="">
                            <p class="lead">Сообщество - это инструмент сильных компаний.<br>
                                            Их лидеры, выходя в сообщества и рассказывая о том «как» и «над чем» они работают,<br>
                                            притягивают людей близких «по духу», превращая их в мотивированных сотрудников.</p>
                            <p class="name">Михаил Рыжиков, идеолог Piter United</p>
                        </div>

                        <div class="item">
                            <img class="img-circle" src="img/testimonials_photo/testimonial2.jpg" alt="">
                            <p class="lead">Мы уходим от формата «один говорит - остальные слушают».<br>
                                            Открытая площадка и общение с коллегами из других компаний -<br>
                                            это ценнейший ресурс и огромный стимул для роста активных IT-специалистов.</p>
                            <p class="name">Евгений Крапивко, активист Piter United</p>
                        </div>

                        <div class="item">
                            <img class="img-circle" src="img/testimonials_photo/testimonial3.png" alt="">
                            <p class="lead">Делитесь знаниями, не жадничайте!</p>
                            <p class="name">Сергей Сёмка</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- VENUE, место проведения -->
<section id="venue">
    <!-- google map -->
    <div id="gmap_canvas"></div>

    <div class="venue">
        <div class="venue-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <h2 class="">КДЦ "Club House"</h2>
                        <p class="lead">Мероприятие пройдет в КДЦ "Club House". <br>5 минут пешком от м. Петроградская
                            или на своей машине.</p>
                        <h4>Санкт-Петербург. <br> пр. Медиков д.3 корп.1, КДЦ "Club House".</h4>
                        <img class="img-responsive" src="img/site_logo/club-house-logo.png" alt="club-house">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <i class="pe-4x pe-7s-map-2"></i>
                        <h4 class="">Карта проезда</h4>
                        <p>Санкт-Петербург.<br>пр. Медиков д.3 корп.1</p>
                        <a class="button button-xsmall button-line-light" href="/itgm/map.html" target="_blank">Подробная карта</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<section id="footer">
<div id="footer" class="container" >
    <div class="row">
        <div class="col-lg-5">
            <div class="text-left">
                <div class="header">Предыдущие мероприятия</div>
            <div class="content">
                <a class="ui label" href="https://vk.com/album-71691819_225597343" target="_blank">itgm#6</a>
                <a class="ui label" href="https://vk.com/album-71691819_217393589" target="_blank">itgm#5</a>
                <a class="ui label" href="https://vk.com/album-71691819_212678522" target="_blank">itgm#4</a>
                <a class="ui label" href="https://vk.com/album-71691819_207371421" target="_blank">itgm#3</a>
                <a class="ui label" href="https://vk.com/album-71691819_197045853" target="_blank">itgm#2</a>
                <a class="ui label" href="#">itgm#1</a>
            </div>

        </div>
        </div>
        <div class="col-lg-2">
            <p class="text-center"><b>PiterUnited@gmail.com</b></p>
            <!--<a class="link" href="http://piter-united.ru/main.html" target="_blank">IT-сообщества Санкт-Петербурга</a>-->
        </div>
        <div class="col-lg-5">
            <div class="text-right">
                <div class="header">Мы в социальных сетях</div>
            <div class="content">
                <a class="ui label" href="https://plus.google.com/u/0/communities/108851235934496354072" target="_blank"><i class="large google plus icon"></i></a>
                <a class="ui label" href="https://twitter.com/piter_united" target="_blank"><i class="large twitter icon"></i></a>
                <a class="ui label" href="https://medium.com/@piterunited" target="_blank"><i class="large medium icon"></i></a>
                <a class="ui label" href="https://www.facebook.com/groups/piterunited/" target="_blank"><i class="large facebook icon"></i></a>
                <a class="ui label" href="https://vk.com/piterunited" target="_blank"><i class="large vk icon"></i></a>
                <a class="ui label" href="https://www.linkedin.com/grp/home?gid=8117058" target="_blank"><i class="large linkedin icon"></i></a>
            </div>
        </div>

    </div>
</div>
</section>
<!--endof Footer -->
