.communityEvents {
    margin-top: 10px;
}
.communityEvents-event {
    margin-bottom: 20px;
}
.communityEvents-event_old {
    color: #cccccc;
}
.communityEvents-event_old a {
    color: #bbbbbb;
}
.communityEvents-event-date {
    text-align: center;
    line-height: 1;
    padding-top: 5px;
}
.communityEvents-event-date_editor {
    padding-top: 0;
}
.communityEvents-event-date-number {
    font-size: 400%;
}
.communityEvents-event-date-month {

}
.communityEvents-event-title-noLink, .communityEvents-event-title-noLink:hover {
    color: #000000;
    text-decoration: none;
}