<div ng-controller="CommunityPageEventsCtrl">
    <ul class="list-unstyled communityEvents">
        <li class="row" pu-access="['@community.owner','admin']" ng-if="!events[0].$creating">
            <div class="col-md-12">
                <button class="btn btn-success pull-right" ng-click="newEvent()"><span class="glyphicon glyphicon-plus"></span> Создать событие</button>
                <span class="clearfix"></span>
                <hr/>
            </div>
        </li>

        <li class="communityEvents-event" ng-repeat="event in events | orderBy:'-startDate'" ng-class="{'communityEvents-event_old': event.startDate < today}">
            <!--Просмотр-->
            <div class="row" ng-if="!event.$editor">
                <div class="communityEvents-event-date col-md-2">
                    <div class="communityEvents-event-date-number">{{event.startDate | date:'d'}}</div>
                    <div class="communityEvents-event-date-month">{{event.startDate | date:'MMMM'}}</div>
                </div>
                <div class="col-md-8">
                    <ul class="list-unstyled">
                        <li>
                            <h4><a ng-href="{{event.url}}" ng-class="{'communityEvents-event-title-noLink': !event.url}">{{event.title}}</a></h4>
                        </li>
                        <li>
                            <p>{{event.note}}</p>
                        </li>
                        <li>
                            <p><strong>Начало в {{event.startTime}}</strong>, окончание в {{event.endTime}} (примерно)</p>
                        </li>
                        <li>
                            <p>{{event.address}}</p>
                        </li>
                        <li>
                            <p>{{event.contacts}}</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-link pull-right" pu-access="['@community.owner','admin']" ng-click="edit(event.$id)">редактировать</button>
                </div>
            </div>

            <!--Редактирование-->
            <div class="row" ng-if="event.$editor">
                <div class="col-md-2">
                    <span class="communityEvents-event-date event-date_editor btn-group-vertical">
                        <button class="communityEvents-event-date-number btn btn-default" ng-click="calendar.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        <input type="text" class="form-control btn btn-default" ng-model="eventUpd.startDate"
                               datepicker-popup="dd.MM.yyyy"
                               is-open="calendar.opened"
                               datepicker-options="calendar"
                               show-button-bar="false"
                               datepicker-append-to-body="true"
                               ng-required="true" />
                    </span>
                </div>
                <div class="col-md-8">
                    <ul class="list-unstyled form-horizontal">
                        <li class="form-group">
                            <div class="col-md-12">
                                <input class="form-control" type="text" ng-model="eventUpd.title" pu-link-input="eventUpd.url" placeholder="Название">
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="col-md-12">
                                <textarea class="form-control" rows="3" ng-model="eventUpd.note" placeholder="Описание события"></textarea>
                            </div>
                        </li>
                        <li class="form-group">
                            <label class="col-md-3 control-label">Начало в</label>
                            <div class="col-md-3">
                                <input class="form-control" type="time" ng-model="eventUpd.startTime">
                            </div>
                            <label class="col-md-3 control-label">Окончание в</label>
                            <div class="col-md-3">
                                <input class="form-control" type="time" ng-model="eventUpd.endTime">
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="col-md-12">
                                <input class="form-control" type="text" ng-model="eventUpd.place" placeholder="Адрес">
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="col-md-12">
                                <input class="form-control" type="text" ng-model="eventUpd.contacts" placeholder="Контакты">
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="col-md-12" ng-if="!event.$creating">
                                <button class="btn btn-primary pull-right" ng-click="save(event.$id)">Сохранить</button>
                                <button class="btn btn-danger pull-left" ng-click="remove(event.$id)">Удалить событие</button>
                            </div>
                            <div class="col-md-12" ng-if="event.$creating">
                                <button class="btn btn-success pull-right" ng-click="create()">Создать событие</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-link pull-right" pu-access="['@community.owner','admin']" ng-click="cancel(event.$id)">отмена</button>
                </div>
            </div>
        </li>
    </ul>
</div>