.calendar-title {
    width: 300px;
    height: 50px;
}
.calendar-title-text {
    text-align: center;
}
.calendar-title-arrow {
    font-size: 180%;
}
.calendar-month-week-day {
    width: 14.28%;
    height: 100px;
}
.calendar-month-week-day_title {
    height: auto;
}
.calendar-month-week-day_disable {
    color: #cccccc;
}
.calendar-month-week-day_today {
    border: solid 2px #cc0000 !important
}
.calendar-month-week-day-events {
    font-size: 90%;
}