---
layout: itgm9
title: "IT Global Meetup #9"
description: 3 декабря 2016, с 11.00 до 18.00. 8-й слет ИТ-сообществ Санкт-Петербурга. КДЦ Club House - СПб, пр. Медиков 3.
logo: http://piter-united.ru/itgm9/img/site_logo/itgm_logo2.png
program_url: https://docs.google.com/spreadsheets/d/1EXtirtbXD9aD4Ycc7SV4aE25dO6_zxmYz_BECjFDKJQ/edit
url: http://piter-united.ru/itgm9/itgm.html
date:
    day: 3 декабря
    from: 2016-12-03T11:00:00+03:00
    to: 2016-12-03T18:00:00+03:00
    string: 03 декабря 2016 c 11.00 до 18.00
location:
    name: КДЦ Club House
    address: пр. Медиков д.3 к.1
    string: КДЦ "Club House", пр. Медиков д.3 к.1
metrics:
    communities: 20
    talks: 60
    speakers: 60
    visitors: 500
---

<!-- NAVIGATION -->
<div class="slider">
    <div class="navbar-container">
        <nav id="nav-primary" class="navbar navbar-custom" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/main.html"><img src="img/site_logo/main_logo_white.png" alt="logo" class="img-responsive" width="40px"></a>
                </div>

                <div class="collapse navbar-collapse" id="nav">
                    <ul class="nav navbar-nav navbar-right uppercase">
                        <li><a data-toggle="elementscroll" href="#info">О мероприятии</a></li>
                        <li><a data-toggle="elementscroll" href="#communities">Сообщества</a></li>
                        <li><a data-toggle="elementscroll" href="#program">Программа</a></li>
                        <li><a data-toggle="elementscroll" href="#register">Регистрация</a></li>
                        <li><a data-toggle="elementscroll" href="#sponsors">Партнеры</a></li>
                        <li><a data-toggle="elementscroll" href="#gallery">Фотогалерея</a></li>
                        <li><a data-toggle="elementscroll" href="#venue">Место проведения</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-md-offset-5 col-md-7 col-xs-12">
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{ page.title }}</h1>
                        <p>{{ page.date.string }}<br>{{ page.location.string }}</p>
                        <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                            <meta itemprop="name" content="{{ page.location.name }}"/>
                            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <meta itemprop="name" content="{{ page.location.name }}"/>
                                <meta itemprop="streetAddress" content="{{ page.location.address }}"/>
                                <meta itemprop="addressLocality" content="Санкт-Петербург"/>
                                <meta itemprop="addressRegion" content="SPB"/>
                                <meta itemprop="postalCode" content="123456"/>
                                <meta itemprop="addressCountry" content="RU"/>
                            </div>
                        </div>
                        <a class="button button-small button-line-light html-popup" href="register.html">зарегистрироваться</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row visible-md-block visible-lg-block">
            <div id="left" class="left col-lg-9 col-md-8 col-xs-8 text-right">
                <h3>Поделиться</h3>
                <div class="share-btns">
                    <iframe src="https://piter-united.herokuapp.com/iframe" class="__slackin slack"></iframe>
                    <div class="ya-share2"
                         data-services="gplus,facebook,vkontakte,twitter,linkedin"
                         data-image="{{ page.logo }}"
                         data-lang="ru"
                         data-size="m"
                         data-title="{{ page.title }}"
                         data-description="{{ page.description }}"
                         data-url="http://piter-united.ru/itgm9/itgm.html"></div>
                 </div>
            </div>
            <div id="right" class="col-lg-3 col-md-4 col-xs-4 text-left">
                <div id="countdown"></div>
            </div>
        </div>
    </div>
</div>

<!-- INFO -->
<section id="info">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 text-center">
                <h1>{{ page.title }}</h1>
                <p class="lead">Слет IT-сообществ Санкт-Петербурга и Ленинградской области. <br>
                    Цель мероприятия - обмен профессиональным опытом между IT-специалистами.<br>
                    Общение происходит на "островках сообществ", где участники знакомятся, <br>
                    обсуждают профессиональные темы, высказывают мнения, спорят и ищут решения.</p>
            </div>

            <div class="col-lg-10 col-lg-offset-1 col-md-12 text-center">
                <div class="row">

                    <div class="feature col-lg-4 col-md-4 col-sm-4">
                        <i class="pe-4x pe-7s-refresh-2"></i>
                        <h4>Обмен опытом</h4>
                        <p>Возьмите 100% от мероприятия, задавайте вопросы, предлагайте решения, высказывайте
                            мнения.</p>
                    </div>

                    <div class="feature col-lg-4 col-md-4 col-sm-4">
                        <i class="pe-4x pe-7s-micro"></i>
                        <h4>Личный брендинг</h4>
                        <p>Выступайте, рассказывайте о своих достижениях, заинтересуйте своей экспертизой.</p>
                    </div>

                    <div class="feature col-lg-4 col-md-4 col-sm-4">
                        <i class="pe-4x pe-7s-network"></i>
                        <h4>Нетворкинг</h4>
                        <p>Знакомьтесь с коллегами из других компаний, находите единомышленников.</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<!-- FUNFACTS -->
<section id="funfacts">
    <div class="funfacts-inner">
        <div class="container">
            <div class="row">

                <h2 class="hidden">funfacts</h2>

                <div class="col-lg-10 col-lg-offset-1">
                    <div id="funfacts-carousel">

                        <div class="item">
                            <i class="pe pe-4x pe-7s-world"></i>
                            <div class="desc">
                                <p class="number">{{ page.metrics.communities }}</p>
                                <p class="description">сообществ</p>
                            </div>
                        </div>

                        <div class="item">
                            <i class="pe pe-4x pe-7s-micro"></i>
                            <div class="desc">
                                <p class="number">{{ page.metrics.talks }}</p>
                                <p class="description">выступлений</p>
                            </div>
                        </div>

                        <div class="item">
                            <i class="pe pe-4x pe-7s-display2"></i>
                            <div class="desc">
                                <p class="number">{{ page.metrics.speakers }}</p>
                                <p class="description">спикеров</p>
                            </div>
                        </div>

                        <div class="item">
                            <i class="pe pe-va pe-4x pe-7s-id"></i>
                            <div class="desc">
                                <p class="number">{{ page.metrics.visitors }}</p>
                                <p class="description">участников</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- COMMUNITIES -->
<section id="communities">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h3 class="">Сообщества</h3>
                <p class="lead">Все IT-сообщества Петербурга в одно время в одном месте.</p>
            </div>

            <ul id="list-speaker" class="list-unstyled">
                {% for community in site.data.itgm9_communities %}
                <a href="{{ community.link }}" target="_blank">
                    <li class="col-lg-3 col-md-3 col-sm-4">
                        <div class="speaker">
                            <div class="caption text-center">
                                <h4>{{ community.title }}</h4>
                                <p class="community">Санкт-Петербург</p>
                            </div>
                        </div>
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>




<!-- PROGRAM -->
<section id="program">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Общая программа мероприятия</h3>
                <p class="lead">Программа мероприятия нацелена на обмен опытом и общением с коллегами из других
                    компаний.</p>
                <!-- SCHEDULE TAB -->
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#day1" id="day1-tab" role="tab"
                           data-toggle="tab" aria-controls="day1" aria-expanded="true">{{ page.date.day }}</a>
                    </li>
                </ul>

                <!-- CONTENT -->
                <div id="myTabContent" class="tab-content">

                    <!-- DAY 1 -->
                    <div role="tabpanel" class="tab-pane fade active in" id="day1" aria-labelledby="day1-tab">
                        <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                            {% for program in site.data.itgm9_programms %}

                            <!-- PROGRAM 1-->
                            <div class="panel panel-default">

                                <!-- Program Heading -->
                                <div class="panel-heading" role="tab" id="heading1">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <p class="date">{{program.time}}</p>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#{{program.id}}" aria-expanded="true" aria-controls="{{program.id}}">{{program.title}}</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                                <div id="{{program.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">

                                    <!-- Program Content -->
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-offset-2 col-lg-10 col-md-10 col-sm-10">
                                                <p>{{program.text}}</p>
                                                <br>
                                                <p><i class="fa fa-lg fa-clock-o"></i> <span class="small">{{program.duration}}</span></p>
                                                <p><i class="fa fa-lg fa-map-marker"></i> <span class="small">{{program.place}}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
</section>




<!-- DOWNLOAD PROGRAMM (ссылка на программу) -->
<section id="download">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-2">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-1 prog-icon">
                        <span class="pe-4x pe-7s-note2 program-icon"></span>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12">
                        <h3>Программа мероприятия</h3>
                        <p>У каждого IT-сообщества в рамках слета будет свой "островок".<br>
                            На островках сообщества представят заранее подготовленные программы.<br>
                            Каждая программа состоит из 4-х секций (докладов/презентаций) по 45 минут.<br>
                            В рамках секций вы сможете получить новые знания, задать вопросы,<br>
                            поделиться профессиональным опытом и обменяться контактами.</p>
                        <br>
                        <a class="button button-small button-line-dark" href="{{ page.program_url }}" target="_blank">открыть программу</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- REGISTER -->
<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-center">Регистрация</h3>
                <p class="lead text-center">Целевая аудитория мероприятия: IT-специалисты.<br>
                    Участие бесплатное. Обязательным условием является регистрация.</p> <br>
            </div>
            <div class="col-lg-12 text-center">
                <a class="button button-small button-line-light html-popup" href="register.html">зарегистрироваться</a>
            </div>
        </div>
    </div>
</section>




<!-- SPONSORS -->
<section id="sponsors">
    <div class="container">
        <div class="row" >
            <div class="col-md-12">
                <h3 class="text-center">Партнеры мероприятия</h3>
                <p class="lead text-center">Инициативу и слет поддерживают лучшие IT-компании.</p>
                <div class="sponsors__list">
                    {% for sponsor in site.data.itgm9_sponsors %}
                    <div class="sponsors__list__item text-center">
                        <a href="{{sponsor.link}}" target="_blank">
                            <img src="{{sponsor.logo}}" alt="{{sponsor.title}}">
                        </a>
                        <br />
                        <span>{{sponsor.level}}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>




<!-- INFOPARTNERS -->
<section id="infopartners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-center">Информационные партнеры</h3>
                <p class="lead text-center">Инициативу и слет поддерживают лучшие IT-компании.</p>
                <div class="sponsors__list">
                    {% for sponsor in site.data.itgm9_infopartners %}
                    <div class="sponsors__list__item text-center">
                        <img src="{{sponsor.logo}}" alt="{{sponsor.title}}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>




<!-- DONATION (Поддержка мероприятия) -->
<section id="donation">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h3 class="text-center">Поддержка мероприятия</h3>
                <p class="donate-form-main-text">Все собранные нами средства пойдут на покрытие организационных расходов мероприятия,<br>
                                                 либо на закупку инвентаря необходимого сообществам (бумагу, флипчарты, ролл-апы и т.д.).<br>
                                                 Мы будем вам очень признательны за поддержку мероприятия!</p>
            </div>

            <div class="donate-form">
                <iframe frameborder="0" allowtransparency="true" scrolling="no"
                        src="https://money.yandex.ru/embed/shop.xml?account=410011943203218&quickpay=shop&payment-type-choice=on&writer=seller&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%BA%D0%B0+%D0%B1%D0%B5%D1%81%D0%BF%D0%BB%D0%B0%D1%82%D0%BD%D0%BE%D0%B3%D0%BE+%D0%BC%D0%B5%D1%80%D0%BE%D0%BF%D1%80%D0%B8%D1%8F%D1%82%D0%B8%D1%8F&targets-hint=&default-sum=500&button-text=03&fio=on&successURL=http%3A%2F%2Fpiter-united.ru"
                        width="450" height="198"></iframe>
            </div>

            <p class="donate-form-subfooter"><i>Вы можете поддержать нас финансово (любой суммой), а можете <a
                    href="mailto:piterunited@gmail.com">стать волонтером</a></i>.</p>
        </div>
    </div>
</section>




<!-- GALLERY -->
<section id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3> Фотогалерея </h3>
                <p class="lead">Фотографии с прошлых мероприятий.</p>

                <div id="timeline" data-columns>
                    {% for photo in site.data.itgm9_photos %}
                    <div class="item wrap">
                        <img class="img-responsive" src="{{photo.photo}}" alt="">
                        <div class="overlay"></div>
                        <div class="icon">
                            <a class="image-popup" href="{{photo.photo}}" title=""><i class="pe-3x pe-7s-plus"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>



<!-- TESTIMONIAL -->
<section id="testimonial">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 no-padding">
                <div class="testimonial-inner">
                    <h2 class="hidden">testimonial</h2>
                    <div id="testimonial-carousel">
                        <div class="item">
                            <img class="img-circle" src="img/testimonials_photo/testimonial1.png" alt="">
                            <p class="lead">Сообщество - это инструмент сильных компаний.<br>
                                            Их лидеры, выходя в сообщества и рассказывая о том «как» и «над чем» они работают,<br>
                                            притягивают людей близких «по духу», превращая их в мотивированных сотрудников.</p>
                            <p class="name">Михаил Рыжиков, идейный вдохновитель Piter United</p>
                        </div>

                         <div class="item">
                            <img class="img-circle" src="img/testimonials_photo/testimonial2.jpg" alt="">
                            <p class="lead">Мы уходим от формата «один говорит - остальные слушают».<br>
                                            Открытая площадка и общение с коллегами из других компаний -<br>
                                            это ценнейший ресурс и огромный стимул для роста активных IT-специалистов.</p>
                            <p class="name">Евгений Крапивко, активист Piter United</p>
                        </div> 

                         <div class="item">
                            <img class="img-circle" src="img/testimonials_photo/testimonial3.png" alt="">
                            <p class="lead">Делитесь знаниями, не жадничайте!</p>
                            <p class="name">Сергей Сёмка</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- VENUE, место проведения -->
<section id="venue">
    <!-- google map -->
    <div id="gmap_canvas"></div>

    <div class="venue">
        <div class="venue-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <h2 class="">КДЦ "Club House"</h2>
                        <p class="lead">Мероприятие пройдет в КДЦ "Club House". <br>5 минут пешком от м. Петроградская
                            или на своей машине.</p>
                        <h4>Санкт-Петербург. <br> пр. Медиков д.3 корп.1, КДЦ "Club House".</h4>
                        <img class="img-responsive" src="img/site_logo/club-house-logo.png" alt="club-house">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <i class="pe-4x pe-7s-map-2"></i>
                        <h4 class="">Карта проезда</h4>
                        <p>Санкт-Петербург.<br>пр. Медиков д.3 корп.1</p>
                        <a class="button button-xsmall button-line-light" href="/itgm/map.html" target="_blank">Подробная карта</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-left">
                    <div class="header">Предыдущие мероприятия</div>
                    <div class="content">
                        {% for itgm in site.data.itgm_list %}
                        <a class="ui label" href="{{itgm.link}}">{{itgm.name}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <p class="text-center"><b>PiterUnited@gmail.com</b></p>
            </div>
            <div class="col-lg-5">
                <div class="header">Мы в социальных сетях</div>
                <div class="content">
                    <a class="ui label" href="https://plus.google.com/u/0/communities/108851235934496354072" target="_blank"><i class="large google plus icon"></i></a>
                    <a class="ui label" href="https://twitter.com/piter_united" target="_blank"><i class="large twitter icon"></i></a>
                    <a class="ui label" href="https://medium.com/@piterunited" target="_blank"><i class="large medium icon"></i></a>
                    <a class="ui label" href="https://www.facebook.com/groups/piterunited/" target="_blank"><i class="large facebook icon"></i></a>
                    <a class="ui label" href="https://vk.com/piterunited" target="_blank"><i class="large vk icon"></i></a>
                    <a class="ui label" href="https://www.linkedin.com/grp/home?gid=8117058" target="_blank"><i class="large linkedin icon"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--endof Footer -->
