<div class="input-group">
    <input class="form-control" type="text" ng-model="name">
    <input class="form-control input-sm main-link-editor" type="url" pu-link-input-editor ng-model="link" ng-if="editor" placeholder="Ссылка">
    <span class="input-group-btn">
        <button class="btn" type="button" ng-class="{'btn-default':i.pristine, 'btn-info':i.valid, 'btn-danger':i.invalid}" ng-click="edit()">
            <span class="glyphicon glyphicon-link"></span>
        </button>
    </span>
</div>