<div ng-controller="UserPageCtrl">
    <div ng-if="user.status!='deleted'"></div>

        <!--Просмотр-->
        <div class="row" ng-if="!editor.info">
            <div class="col-md-3">
                <a ng-href="{{profile.url || '#/user/' + user.id}}">
                    <img ng-src="{{profile.avatar}}" alt="Аватар" class="img-thumbnail"/>
                </a>
            </div>
            <div class="col-md-9">
                <ul class="list-unstyled">
                    <li class="row">
                        <div class="col-md-9">
                            <h3><a ng-href="{{profile.url || '#/user/' + user.id}}">{{profile.name}}</a>
                                <span class="text-muted" ng-if="user.status=='admin'">Администратор</span>
                                <span class="text-muted" ng-if="user.status=='moderator'">Модератор</span>
                            </h3>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-link pull-right" pu-access="['@user.id']" ng-click="edit('info')">редактировать</button>
                        </div>
                    </li>
                    <li>
                        <p>{{profile.about}}</p>
                    </li>
                    <li>
                        <address>{{profile.contacts}}</address>
                    </li>
                </ul>
            </div>
        </div>

        <!--Редактирование-->
        <div class="row" ng-if="editor.info">
            <div class="col-md-3">
                <a ng-href="{{profileUpd.url || '#/user/' + user.id}}">
                    <img ng-src="{{profileUpd.avatar}}" alt="Аватар" class="img-thumbnail"/>
                </a>
                <p><input class="form-control input-sm" type="text" ng-model="profileUpd.avatar" placeholder="Ссылка на аватар"></p>
            </div>
            <div class="col-md-9">
                <ul class="list-unstyled form-horizontal">
                    <li class="form-group">
                        <div class="col-md-9">
                            <input class="form-control" type="text" ng-model="profileUpd.name" pu-link-input="profileUpd.url" placeholder="Имя">
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-link pull-right" pu-access="['@user.id']" ng-click="cancel('info')">отмена</button>
                        </div>
                    </li>
                    <li class="form-group">
                        <div class="col-md-12">
                            <textarea class="form-control" rows="3" ng-model="profileUpd.about" placeholder="О себе"></textarea>
                        </div>
                    </li>
                    <li class="form-group">
                        <div class="col-md-12">
                            <textarea class="form-control" rows="1" ng-model="profileUpd.contacts" placeholder="Контактная информация"></textarea>
                        </div>
                    </li>
                    <li class="form-group">
                        <div class="col-md-12 ">
                            <button class="btn btn-primary pull-right" ng-click="save()">Сохранить</button>
                            <button class="btn btn-danger pull-left" ng-click="remove(user.id)">Удалить профиль</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row" ng-if="user.status=='deleted'">
        <div class="col-md-3">
            Профиль удален
        </div>
        <div class="col-md-9" pu-access="['@user.id']">
            <button class="btn btn-success" ng-click="restore()">Восстановить профиль</button>
        </div>
    </div>

</div>