body {
  margin: 0;
  padding: 0px;
  font-size: 16px;
  background: #444;
  padding-top: 40px;
  color: #222;
}
/* Customize container */
@media (min-width: 880px) {
  .container {
    max-width: 880px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
.content {
  padding: 30px;
  border: 1px solid #ddd;
  background: white;
  box-shadow: 0px 4px 30px black;
}
.community {
}
.community img{
  width: 100px;
  float: right;
  margin: 4px;
  background: white;
  padding: 4px;
  border-radius: 100%;
  border: 1px solid #bbb;
}
.clear {
  clear: both;
}
