.communities-list-logo-img {
    /*max-width: 100px;*/
    /*margin-right: 40px;*/
    /*margin-top: -10px;*/
    margin-top: 10px;
}

/*.communities-list-logo {*/
    /*width: 100px;*/
    /*margin-top: 10px;*/
/*}*/

.communities-list-text {
    /*margin-top: 10px;*/
}

.communities-list-item {
    margin-top: 10px;
    margin-bottom: 20px;
}