<div ng-controller="CommunityListCtrl">
    <input type="text" class="form-control" placeholder="Поиск сообществ" ng-model="searchText">

    <div class="row communities-list-item" ng-repeat-start="community in communities | filter:searchText | orderBy:'title'">
        <div class="col-xs-9 col-md-10">
            <h3><a href="#/community/{{community.id}}">{{community.title}}</a></h3>
            <p>{{community.abstract}}</p><br/>
            <p ng-repeat="event in community.events" ng-if="event.startDate > today">
                {{event.startDate | date:'d'}} {{event.startDate | date:'MMMM'}} — <a ng-href="#/community/{{community.id}}/events">{{event.title}}</a>
            </p>
        </div>
        <div class="col-xs-3 col-md-2">
            <a ng-href="#/community/{{community.id}}">
                <!--<img src="app/main/img/logo_100.png" class="communities-list-logo-img">-->
                <img class="img-responsive communities-list-logo-img" ng-src="{{community.logo}}" alt="Лого"/>
            </a>
        </div>
    </div>
    <hr ng-repeat-end/>
</div>