<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Auth CSS -->
    <link href="/css/auth.css" rel="stylesheet">

</head>
<body>

{{ content }}

<!-- GOOGLE ANALYTICS -->
<script src="/js/google-analytics.pageview.piter-united.ru.js"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" src="/js/yandex-metrika.piter-united.ru.js"></script>
<noscript><div><img src="//mc.yandex.ru/watch/26968695" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- Yandex.Metrika counter -->

</body>
</html>