<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#" itemscope itemtype="http://schema.org/Event"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#" itemscope itemtype="http://schema.org/Event"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#" itemscope itemtype="http://schema.org/Event"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#" itemscope itemtype="http://schema.org/Event"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>

        <!-- viewport settings -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{{ page.description }}">

        <meta property="og:type" content="website">
        <meta property="og:site_name" content="{{ page.title }}">
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:type" content="website">
        <meta property="og:image" content="{{ page.logo }}" itemprop="image">
        <meta property="og:image:secure_url" content="{{ page.logo }}">
        <meta property="og:image:type" content="image/png">
        <meta property="og:description" content= "{{ page.description }}">
        <meta property="og:url" content="{{ page.url }}">

        <!-- Добавьте в тег HTML атрибуты itemscope и itemtype. -->
        <!-- Добавьте указанные ниже теги в заголовок страницы. -->
        <meta itemprop="name" content="{{ page.title }}">
        <meta itemprop="description" content="{{ page.description }}">
        <meta itemprop="startDate" content="{{ page.date.from }}">
        <meta itemprop="endDate" content="{{ page.date.to }}">
        <meta itemprop="image" content="{{ page.logo }}">

        <meta name="author" content="IT Global Meetup">

        <!-- CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/itgm/dist/semantic.min.css">

        <link rel="stylesheet" href="css/pe-icon-7-stroke.css">
        <link rel="stylesheet" href="css/helper.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/font.css">
        <link rel="stylesheet" href="css/salvattore.css">
        <link rel="stylesheet" href="css/jquery.countdown.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">

        <link rel="stylesheet" href="css/main.css">

        <!-- Font -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

        <!-- Favicon -->
        <link rel="shortcut icon" href="img/favicon.ico">

	</head>

	<body>

        {{ content }}

        <script src="js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
        <script src="js/jquery.themepunch.tools.min.js"></script>
        <script src="js/jquery.themepunch.revolution.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.magnific-popup.js"></script>
        <script src="js/salvattore.js"></script>
        <script src="js/jquery.countdown.js"></script>
        <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/retina.js"></script>

        <script src="js/main.js"></script>
        <!--<script type="text/javascript" src="http://yastatic.net/share/share.js" charset="utf-8"></script>-->

        <!-- GOOGLE ANALYTICS -->
        <script src="/js/google-analytics.pageview.piter-united.ru.js"></script>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" src="/js/yandex-metrika.piter-united.ru.js"></script>
        <noscript><div><img src="//mc.yandex.ru/watch/26968695" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!--<noscript><div><img src="//piter-united.ru/itgm7/img/site_logo/itgm_logo2.png" style="position:absolute; left:-9999px;" alt="" /></div></noscript>-->
        <!-- Yandex.Metrika counter -->

        <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
        <script src="https://yastatic.net/share2/share.js"></script>
    </body>
</html>
