<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>IT Global Meetup 6</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="IT Global Meetup #5. СПб, 6 июня 2015. Слет ИТ-сообществ Санкт-Петербурга."/>

	    <meta property="og:title" content="IT Global Meetup #5" />
	    <meta property="og:type" content="website" /> 
	    <meta property="og:image" content="http://piter-united.ru/itgm/img/itgm_logo.png" />
	    <meta property="og:image:type" content="image/png" /> 
	    <meta property="og:description" content= "IT Global Meetup #5. СПб, 6 июня 2015. Слет ИТ-сообществ Санкт-Петербурга."/> 
	    <meta property="og:url" content="http://piter-united.ru/itgm/itgm.html">

	    <meta name="twitter:title" content="IT Global Meetup #5" />
	    <meta name="twitter:description" content="IT Global Meetup #5. СПб, 6 июня 2015. Слет ИТ-сообществ Санкт-Петербурга."/>
	    <meta name="twitter:image" content="http://piter-united.ru/itgm/img/itgm_logo.png" />

        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properities -->
        <title>IT Global Meetup 6</title>  
        <link rel="stylesheet" type="text/css" href="./dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="./assets/css/site.css">

    </head>
    <body>

        {{ content }}

        <!--
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/skrollr.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/flexslider.min.js"></script>
        <script src="js/jquery.plugin.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/jquery.prettySocial.min.js"></script>
        <script src="js/scripts.js"></script>
    -->

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-49828340-2', 'piter-united.ru');
          ga('send', 'pageview');
        </script>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter26968695 = new Ya.Metrika({id:26968695,
                            webvisor:true,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/26968695" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

    </body>
</html>