
.ui.button {
  font-weight: 400;
}
  
a.link {  
  border-bottom: 1px dotted #ff8300;
}

a.link:hover {
  border-bottom: 1px dotted #974508;
}

h1{
  font-size: 27px;
  text-transform: uppercase;
  color: #ff8300;
  padding-top: 0px;
  margin-bottom: 0px;
}

.title{
  padding-top: 40px;
  padding-bottom: 40px;
}

.title p{
}

#reg_form{
  padding: 40px 40px;
}

.ui.dimmer {
  overflow-y: scroll;
}

.ui.inverted.label {
  margin-top: 10px;
  background: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: 400;
}

.ui.inverted.label:hover {
  color: #424149;
}

.hidden.menu {
  display: none;
}

#topmenu .right.menu .ui.primary.button {
  font-size: 13px;
}

#firstslide {
  min-height: 700px;
  padding: 1em 0em;
  background: url('../images/photos/bg_main1.jpg') center center no-repeat; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;       
  position: relative;
  overflow:hidden;  
}

#firstslide.card {
  width: 100%;
  box-shadow: none;
  padding-bottom: 0;
  color: #ffffff;
}

#firstslide.card .content {
  border-top: none;
}

#firstslide.card .top.content {
  padding: 10px 50px;
}  

#firstslide.card .top.content i {
  color: #ffffff;
} 

#firstslide.card .info.content {
  padding-top: 80px;
}

#firstslide.card .info.content h2 {
  font-size: 44px;
  font-weight: 500;
}
#firstslide.card .info.content h4 {
  margin-top: -0.5em !important;      
}   

#firstslide.card .info.content .description {
  font-size: 18px;      
}       

#firstslide .container .info {
  margin-top: 8em;
}
#firstslide h1.ui.header {
  font-size: 4em;
}

#firstslide .cta {
  margin-top: -7em;
  margin-bottom: 4em;  
} 

#firstslide.card .info.content .header,
#firstslide.card .info.content .description {
  color: #ffffff;
}

#firstslide.card .extra.content {
  background-color: rgba(0, 0, 0, .4);
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  padding: 20px 0;
}

#firstslide .countdown .stat-info {
  font-weight: 400;
  font-size: 14px;
  margin-right: 10px;
}

#firstslide .countdown .stat.value {
  font-weight: 300;
  font-size: 30px;
}

.cta {
  margin-top: 4em;
  margin-bottom: 4em;       
}

#firstslide h2 {
  font-size: 3em;
  font-weight: normal;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}
.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.ui.container .h-hero {
  /*margin-bottom: 2em;*/
  color: #ff8300;
}

.ui.grid.photos {
  margin-top: 48px;
  margin-bottom: 0px;
}

.ui.grid.photos .column {
  margin: 0;
  padding: 4px 0 0 4px;
}
.ui.grid.photos .row {
  padding:0;
}

#topmenu .mini.image {
  width: 24px;
  height: 24px;
}

#about {
  padding-bottom: 0px;
}

#about .stat {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 0;
}
#about .ui.grid .column .row {
  margin-bottom: 1em;
}

#timeline {
  border-bottom: none;
}

#timeline .time {
  color: #974508;
}

#timeline p {
  color: #777777;
}

#communities .card {
  min-height: 130px;
}

#communities .card .label {
  margin-top: 10px;
  background-color: #ffffff;
}

#communities .card .active.label {
  border: 1px solid #7ED321;
  color: #7ED321;
}

#communities .card .inactive.label {
  border: none;
  color: #8E8E8F;
  font-weight: 400;
}

#communities .card .additional {
  display: none;
}

#partners {
  border-bottom: none;
}

#partners .card,
#infopartners .card {
  box-shadow: none;      
}

#partners .content {
  padding: 0;
}

.partners .frame,
#infopartners .frame {
  height: 120px;      /* equals max image height */
  width: 120px;      
  white-space: nowrap;  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;            
}

.partners .frame:before,
.partners .frame_before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}   

.partners .frame img {      
  vertical-align: middle;
  max-height: 120px;
  max-width: 120px;    
} 

#partners .cards {
  margin-bottom: 30px;
}  

#infopartners {
  padding-top: 50px;
}

#money {
  background-color: #fafafa;
}

#money iframe {
  margin-top: 2em;
}

#map .ui.card {
  position: absolute;
  z-index: 1;
  margin-top: 100px;
  margin-left: 100px;
  min-height: 350px;
}  

#map .ui.card .content {
  border-top: none;
}

#map .ui.card .content .description {
  margin-top: 10px;
}

#map .ui.card .content .link {
  font-size: 10px;
  margin-left: 20px;
}

#map, #map .ui.segment {
  margin: 0;
  padding: 0;
  border: none;
}

#map .icon {
  color: #ff8300;
}

#canvas-map {
  position: relative;
  min-height: 600px;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.programme .ui.header {
  margin-bottom: 10px;
}

.programme .ui.header .ui.title {
  padding-bottom: 10px;
}

.programme .ui.dialog.header {
  min-height: 100px;
}

.programme .ui.dialog.header .title {
  font-size: 26px;
  font-weight: 300;
}

.programme .ui.dialog.header .ui.description {
  font-size: 14px; 
  font-weight: 400;  
  margin-top: 10px;   
}    

.programme .row .column .start {
  color: #974508;
  margin-bottom: 2px;
}

.programme .row .column .circular.image {
  width: 44px;
  border-radius: 22px;
}

.programme .item .author {
  font-size: 16px;
  font-weight: 600;
}

.programme .row .ui.items {
  margin-top: 30px;
}

.programme .row .column .ui.items .item .empty.content .header {
  font-weight: 300;
  font-size: 24px;
  color: #974508;
  margin-right: 20px;
}

.programme .row .column .ui.items .item .empty.content .link {
    font-weight: 300;
    font-size: 12px;
}

#footer .content a i {
  margin: 0;
}

#footer .social .inverted.label {
  border: none;
}

#topmenu .tablet.mobile.only.row img {
  margin-top: 10px;
}

#topmenu .tablet.mobile.only.row .left.floated img {
  margin-top: 10px;
}

#topmenu .tablet.mobile.only.row .right.floated i {
  margin-top: 10px;
  font-size: 20px;
  color: #000000;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  #topmenu .ui.container {
    width: 100% !important;
  } 
   
}

@media only screen and (max-width: 767px) {
  #topmenu .ui.container {
    width: 100% !important;
  }

  #firstslide.card .info.content {
    margin-top: 30px;
  }

  #firstslide.card .info.content h2 {
    font-size: 30px;
    font-weight: 300;
  }
  #firstslide.card .info.content h3 {
    font-size: 20px;      
  }   

  #firstslide.card .info.content .description {
    font-size: 16px;      
  }  

  #firstslide .cta {
    margin-top: 0;
  }

  #firstslide .cta div {
    margin-top: 20px;
  }  

  #firstslide .countdown .stat.value {    
    font-size: 22px;
  }  

  #canvas-map {
    min-height: 400px;
  }

  #map .ui.card {
    margin-top: 20px;
    margin-left: 20px;    
  } 
}

/* Временные стили */
/*.ui.modal p{
  padding: 60px;
}*/
