---
layout: layout_purple
title: "IT Global Meetup #10"
page_title: "Весенний слёт IT сообществ Санкт-Петербурга"
description: 14 мая 2017, с 10.00 до 19.00. 10-й слет ИТ-сообществ Санкт-Петербурга. КДЦ Club House - СПб, пр. Медиков 3.
logo: http://piter-united.ru/img/itgm_logo_blue.png
url: http://piter-united.ru/itgm10
date:
    day: 14 мая
    from: 2017-05-14T10:00:00+03:00
    to: 2017-05-14T19:00:00+03:00
    string: 14 мая 2017 c 10.00 до 19.00
location:
    name: КДЦ Club House
    address: пр. Медиков д.3 к.1
    string: КДЦ "Club House", пр. Медиков д.3 к.1
---
<!-- MAIN BANNER -->
<div id="main" class="container-fluid container-fluid-main container-fluid-image">
  <div class="container container-main text-white">
    <div class="row">
      <div class="col-md-9 col-sm-11 col-xs-12">
        <h2>{{ page.page_title }}</h2>
      </div>
    </div>
    <div class="row row-h1">
      <div class="col-md-9 col-sm-11 col-xs-12">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-8 col-xs-11">
        <p>{{ page.date.string }}</p>
        <p>{{ page.location.string }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <button type="button" class="btn btn-primary btn-lg full register">Зарегистрироваться</button>
        <button type="button" class="btn btn-primary btn-lg mobile register">Зарегистрироваться</button>
      </div>
    </div>
  </div>
  <!-- SOCIAL -->
  <div class="share-btns">
    <iframe src="https://piter-united.herokuapp.com/iframe" class="__slackin slack"></iframe>
    <div class="ya-share2" data-services="gplus,facebook,vkontakte,twitter,linkedin" data-image="{{ page.logo }}" data-lang="ru"
      data-size="m" data-title="{{ page.title }}" data-description="{{ page.description }}" data-url="http://piter-united.ru/itgm10"></div>
  </div>
</div>

<!--ABOUT -->
<div class="container-fluid container-fluid-info container-fluid-image">
  <div class="container container-text text-white">
    <div class="row">
      <div class="col-sm-6">
        <h4>О мероприятии</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-sm-11 col-xs-12">
        <h1>Вся информация<br>о мероприятии.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-8 col-xs-11">
        <p>IT Global Meetup регулярно собирает дружную IT-тусовку Петербурга и&nbsp;окунает участников в&nbsp;атмосферу обмена
          опытом, профессиональными мнениями и&nbsp;взглядами. Любой активный IT-специалист сможет найти здесь единомышленников,
          узнать что-то&nbsp;новое, заявить о&nbsp;себе.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <!-- <a href="javascript:;">IT Global Meetup в цифрах <i class="fa fa-angle-right fa"></i></a> -->
      </div>
    </div>
  </div>
</div>

<!--PHOTO+VIDEO -->

<div class="container-fluid container-fluid-gray container-fluid-row1">
  <div class="container container-row1">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-10 col-md-10-special">
          <h3>Сообщества &ndash; сердце IT Global Meetup</h3>
          <p>Основной целью мероприятия является популяризация городских IT-сообществ, привлечение в&nbsp;сообщества новых,
            активных участников с&nbsp;их&nbsp;уникальными профессиональными мнениями и&nbsp;контентом. Чем больше мнений
            в&nbsp;сообществе, чем&nbsp;они профессиональнее и&nbsp;глубже, тем&nbsp;полезнее и&nbsp;интереснее сообщество.
          </p><br>
        </div>
      </div>
      <div class="col-md-6 text-center col-img-video">
        <a class="play" href="javascript:openVideo();">
          <i class="fa fa-play-circle fa-3x"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-fluid-gray container-fluid-row2">
  <div class="container container-row2">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-10 col-md-10-special">
          <h3>Обучение через общение</h3>
          <p>Мероприятие проходит в&nbsp;формате «глобального митапа», в&nbsp;рамках которого у&nbsp;каждого сообщества есть
            свой «островок» &ndash; свой митап. На таких островках организовано общение участников сообществ в&nbsp;различных
            формах: доклады, мастер-классы, разбор кейсов, круглые столы, мини-хакатоны, игры&nbsp;и&nbsp;т.д.</p><br>
        </div>
      </div>
      <div class="col-md-6 text-center col-img-photo">
        <!--<a class="play" href="javascript:;">-->
          <!--<i class="fa fa-camera fa-2x"></i>-->
          <!-- вызов модалки с фотогалереей -->
        <!--</a>-->
      </div>
    </div>
  </div>
</div>

<!--COMMUNITY -->
<div id="community" class="container-fluid">
  <div class="container container-text">
    <div class="row">
      <div class="col-sm-6">
        <h4>Все IT сообщества</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-sm-11 col-xs-12">
        <h1>В одно время.<br>В одном месте.</h1>
      </div>
    </div>
  </div>
  <!-- закрытие заголовка -->

  <div class="container">
    <!-- Строка 1 -->

    {% for community in site.data.itgm10_communities %} {% assign loopindex = forloop.index | modulo: 4 %} {% if loopindex ==
    1 or forloop.first %}
    <div class="row text-center">
      {% endif %}
      <div class="col-sm-3">
        <a class="a-thumbnail" href="{{ community.link }}" target="_blank">
          <div class="thumbnail">
            <h3>{{ community.title }}</h3>
            <!-- <p>Краткое описание в три <br>строки</p> -->
          </div>
        </a>
      </div>
      {% if loopindex == 0 or forloop.last %}
    </div>
    {% endif %} {% endfor %}

    <div class="btn-center">
      <a href="mailto:piterunited@gmail.com" class="btn btn-primary btn-lg btn-block">Стать участником</a>
    </div>
  </div>
  <!-- закрытие блока участников -->
</div>
<!-- закрытие fluid-->


<!-- Карусель-карусель -->
<div class="container-fluid container-fluid-gray container-fluid-carousel">
  <div class="container">
    <h1 class="text-center"><br/>&rdquo;</h1>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <h4>"Для меня IT GM - это движение, отвечающее тенденциям, потребностям времени, хорошая здоровая идея. И я рассматриваю свое участие и участие нашего сообщества как возможность создать диалог между IT people и IT HR, прозрачность, что HR может дать, и какие ожидания “заказчиков” от HR, избавиться от стереотипов, повысить взаимное уважение и интерес. В определенном смысле, мы формируем “культуру потребления HR” )) Судя по отзывам и интересу к нашему островку - у нас это получается ) и это меня очень радует! Обмен лучшими практиками, обсуждение актуальных HR вопросов, психологии управления людьми - это развивает и HR и гостей островка. Именно это и есть win-win!"<br><br><span style="font-style:normal;">Ирина Матвеева, Escalate. Представитель IT HR сообщества на ITGM. Партнер Премии IT HR Awards.</span></h4>
        </div>
        <!-- <div class="item">
          <h4>"Текст отзыва спикера"<br><span style="font-style:normal;">Имя Фамилия, Название Компании</span></h4>
        </div>
        <div class="item">
          <h4>"Текст отзыва спикера"<br><span style="font-style:normal;">Имя Фамилия, Название Компании</span></h4>
        </div> -->
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
    <!-- закрытие  карусели -->
  </div>
  <!-- закрытие контейнера карусели -->
</div>
<!-- закрытие контейнера цвета -->

<!--PROGRAMMA -->
<div id="programma" class="container-fluid">
  <div class="container container-text">
    <div class="row">
      <div class="col-sm-6">
        <h4>Программа мероприятия</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-sm-11 col-xs-12">
        <h1>Больше информации<br>за меньшее время.
          <h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <!--<a href="javascript:;">Подробнее о программе <i class="fa fa-angle-right fa"></i></a>-->
      </div>
    </div>
  </div>
</div>
<!-- закрытие заголовка -->

<!--TIMELINE -->
<div class="container">
  <div class="timeline">
    {% for program in site.data.itgm10_programms %}
    <div class="entry">
      <div class="title">
        <h3>{{ program.time }}</h3>
      </div>
      <div class="body">
        <p>{{ program.title }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- закрытие timeline -->
</div>
<!-- закрытие контера -->

<!--PARTNERS -->
<div id="partners" class="container-fluid container-fluid-gray">
  <div class="container container-text">
    <div class="row">
      <div class="col-sm-6">
        <h4>Компании-партнеры</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-sm-11 col-xs-12">
        <h1>Нас поддерживают<br>лучшие IT компании.
          <h1>
      </div>
    </div>
  </div>
  <!-- закрытие заголовка -->

  <div class="container">
    <!-- Gold -->
    {% for sponsor in site.data.itgm10_sponsors.gold %} {% assign loopindex = forloop.index | modulo: 2 %} {% if loopindex ==
    1 or forloop.first %}
    <div class="row text-center">
      {% endif %}
      <div class="col-sm-6">
        <a href="{{ sponsor.link }}" target="_blank">
          <div class="thumbnail thumbnail-white">
            <img src="{{ sponsor.logo }}" title="{{ sponsor.title }}">
          </div>
        </a>
      </div>
      {% if loopindex == 0 or forloop.last %}
    </div>
    {% endif %} {% endfor %}
    <!-- закрытие строки -->
    <!-- Silver -->
    {% for sponsor in site.data.itgm10_sponsors.silver %} {% assign loopindex = forloop.index | modulo: 3 %} {% if loopindex
    == 1 or forloop.first %}
    <div class="row text-center">
      {% endif %}
      <div class="col-sm-4">
        <a href="{{ sponsor.link }}" target="_blank">
          <div class="thumbnail thumbnail-white">
            <img src="{{ sponsor.logo }}" title="{{ sponsor.title }}">
          </div>
        </a>
      </div>
      {% if loopindex == 0 or forloop.last %}
    </div>
    {% endif %} {% endfor %}
    <!-- закрытие строки -->
    <!-- Silver -->
    {% for sponsor in site.data.itgm10_sponsors.bronse %} {% assign loopindex = forloop.index | modulo: 4 %} {% if loopindex
    == 1 or forloop.first %}
    <div class="row text-center">
      {% endif %}
      <div class="col-sm-3">
        <a href="{{ sponsor.link }}" target="_blank">
          <div class="thumbnail thumbnail-white">
            <img src="{{ sponsor.logo }}" title="{{ sponsor.title }}">
          </div>
        </a>
      </div>
      {% if loopindex == 0 or forloop.last %}
    </div>
    {% endif %} {% endfor %}
    <!-- закрытие строки -->

    <div class="btn-center">
      <a href="mailto:piterunited@gmail.com" class="btn btn-primary btn-lg btn-block">Стать партнером</a>
    </div>
  </div>
  <!-- закрытие блока партнеров -->
</div>
<!-- закрытие fluid цвет -->

<!--INFO-PARTNERS -->
<div class="container-fluid">
  <div class="container container-text">
    <div class="row">
      <div class="col-sm-6">
        <h4>Инфопартнеры</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-sm-11 col-xs-12">
        <h1>О нас пишут<br>популярные порталы.
          <h1>
      </div>
    </div>
  </div>
  <!-- закрытие заголовка -->

  <div class="container">
    {% for sponsor in site.data.itgm10_sponsors.infopartners %} {% assign loopindex = forloop.index | modulo: 2 %} {% if loopindex
    == 1 or forloop.first %}
    <div class="row text-center">
      {% endif %}
      <div class="col-sm-6">
        <a href="{{ sponsor.link }}" target="_blank">
          <div class="thumbnail thumbnail-white">
            <img src="{{ sponsor.logo }}" title="{{ sponsor.title }}">
          </div>
        </a>
      </div>
      {% if loopindex == 0 or forloop.last %}
    </div>
    {% endif %} {% endfor %}

    <div class="btn-center">
      <a href="mailto:piterunited@gmail.com" class="btn btn-primary btn-lg btn-block">Стать партнером</a>
    </div>
  </div>
  <!-- закрытие блока партнеров -->
</div>
<!-- закрытие fluid-->

<div id="team" class="container-fluid container-fluid-gray container-fluid-carousel-big">
  <div class="container container-text">
    <div class="row">
      <div class="col-sm-6">
        <h4>Организаторы-волонтеры</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-sm-11 col-xs-12">
        <h1>В нашей команде<br>истинные энтузиасты.
          <h1>
      </div>
    </div>
  </div>
  <!-- закрытие заголовка -->

  <div class="container">
    <div class="row">
      <div class="col-md-12" data-wow-delay="0.2s">
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
          <!-- Photos -->
          <ol class="carousel-indicators">
            <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="../img/purple/org.png" alt="">
            </li>
            <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="../img/purple/org.png" alt="">
            </li>
            <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="../img/purple/org.png" alt="">
            </li>
          </ol>
          <!-- Carousel Slides -->
          <div class="carousel-inner text-center">

            <!--  1 -->
            <div class="item active">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <p>Сообщество - это инструмент сильных компаний. Их лидеры, выходя в сообщества и рассказывая о том «как»
                      и «над чем» они работают, притягивают людей близких «по духу», превращая их в мотивированных сотрудников.</p>
                    <small>Михаил Рыжиков</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- 2 -->
            <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <p>Мы уходим от формата «один говорит - остальные слушают». Открытая площадка и общение с коллегами из других
                      компаний - это ценнейший ресурс и огромный стимул для роста активных IT-специалистов.</p>
                    <small>Анна Горбатенко</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- 3 -->
            <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <p>Делитесь знаниями, не жадничайте!</p>
                    <small>Михаил Полубояринов</small>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>
          <!--  Next/Prev -->

          <a class="left carousel-control" href="#quote-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#quote-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>
        <!-- закрытие карусели-->
      </div>
      <!-- закрытие col-->
    </div>
    <!-- закрытие row-->
  </div>
  <!-- закрытие котейнера карусели-->
</div>
<!-- закрытие fluid цвет-->

<!-- TEAM BANNER -->
<div class="container-fluid container-fluid-team container-fluid-image">
  <div class="container container-text">
    <div class="row"></div>
    <div class="row row-h1">
      <div class="col-sm-9">
        <h1>Участвуйте<br>в организации.
          <h1>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-md-5 col-sm-8 col-xs-11">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>-->
    <div class="row">
      <div class="col-sm-8">
        <a href="mailto:piterunited@gmail.com" class="btn btn-primary btn-lg">Стать волонтером</a>
      </div>
    </div>
  </div>
  <!-- закрытие заголовка-->
</div>
<!-- закрытие fluid-->

<!-- YANDEX -->
<div id="yandex" class="container-fluid">
  <div class="container">
    <div class="row">

            <div class="col-lg-12">
                <h3 class="text-center">Поддержка мероприятия</h3>
                <p class="donate-form-main-text">Все собранные нами средства пойдут на покрытие организационных расходов мероприятия,<br>
                                                 либо на закупку инвентаря необходимого сообществам (бумагу, флипчарты, ролл-апы и т.д.).<br>
                                                 Мы будем вам очень признательны за поддержку мероприятия!</p>
            </div>

            <div class="donate-form">
                <iframe frameborder="0" allowtransparency="true" scrolling="no"
                        src="https://money.yandex.ru/embed/shop.xml?account=410011943203218&quickpay=shop&payment-type-choice=on&writer=seller&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%BA%D0%B0+%D0%B1%D0%B5%D1%81%D0%BF%D0%BB%D0%B0%D1%82%D0%BD%D0%BE%D0%B3%D0%BE+%D0%BC%D0%B5%D1%80%D0%BE%D0%BF%D1%80%D0%B8%D1%8F%D1%82%D0%B8%D1%8F&targets-hint=&default-sum=500&button-text=03&fio=on&successURL=http%3A%2F%2Fpiter-united.ru"
                        width="450" height="198"></iframe>
            </div>

            <p class="donate-form-subfooter"><i>Вы можете поддержать нас финансово (любой суммой), а можете <a
                    href="mailto:piterunited@gmail.com">стать волонтером</a></i>.</p>
        </div>
  </div>
</div>

<!-- REG -->
<div class="container-fluid">
  <div id="reg">
    <div class="container">
      <div class="btn-center btn-reg">
        <button type="button" class="btn btn-primary btn-lg btn-block register">Зарегистрироваться</button>
      </div>
    </div>
  </div>
</div>

<!-- MAP -->

<div id="googleMap"></div>

<!-- FOOTER -->
<div class="container-fluid container-fluid-footer">
  <div class="container container-footer text-white">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip">
      <i class="fa fa-angle-double-up fa"></i>
    </a><br><br>
    <p>IT Global Meetup #10</p>
    <br><br>
    </footer>
  </div>
</div>