<tabset justified="true">
    <tab heading="Вход" active="tab.login">
        <button class="btn btn-primary" ng-click="loginFacebook()">Фейсбук</button>
        <form name="Login" class="form-horizontal pu-after-auth-form">
            <div class="modal-body">
                <div class="form-group" ng-class="{'has-error':Login.email.$invalid && Login.email.$dirty}">
                    <div class="col-md-2">
                        <label class="control-label">Эл. почта</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" type="email" name="email" ng-model="user.email" ng-change="form.error=false" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':Login.pass.$invalid && Login.pass.$dirty}">
                    <div class="col-md-2">
                        <label class="control-label">Пароль</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="pass" ng-model="user.password" ng-change="form.error=false" required>
                    </div>
                </div>
                <div class="alert alert-danger" ng-if="loginMsg.error">{{loginMsg.error}}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="close()">Отмена</button>
                <button type="button" class="btn btn-primary" ng-click="login()" ng-disabled="Login.$invalid">Войти</button>
            </div>
        </form>
    </tab>
    <tab heading="Регистрация"  active="tab.register">
        <form name="Register" class="form-horizontal pu-after-auth-form">
            <div class="modal-body">
                <div class="form-group" ng-class="{'has-error':Register.email.$invalid && Register.email.$dirty}">
                    <div class="col-md-2">
                        <label class="control-label">Эл. почта</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" type="email" name="email" ng-model="user.email" ng-change="form.error=false" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':Register.pass.$invalid && Register.pass.$dirty}">
                    <div class="col-md-2">
                        <label class="control-label">Пароль</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="pass" ng-model="user.password" ng-change="form.error=false" required>
                    </div>
                </div>
                <div class="alert alert-danger" ng-if="registerMsg.error">{{registerMsg.error}}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="close()">Отмена</button>
                <button type="button" class="btn btn-primary" ng-click="register()" ng-disabled="Register.$invalid">Зарегистрироваться</button>
            </div>
        </form>
    </tab>
</tabset>