<tabset justified="true">
    <tab heading="Вход" active="tab.login">
        <form name="Login" class="form-horizontal pu-after-auth-form" ng-submit="login()" autocomplete="off">
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <button class="btn btn-info" ng-click="loginTwitter()">Войти через Твиттер</button>
                        <!--<button class="btn btn-primary" ng-click="loginFacebook()">Фейсбук</button>-->
                        <!--<button class="btn btn-default" ng-click="loginGithub()">Гитхаб</button>-->
                    </div>
                </div>
                <hr/><p class="text-center"><em>или</em></p>
                <div class="form-group" ng-class="{'has-error':showError && Login.email.$invalid}">
                    <div class="col-md-2">
                        <label class="control-label">Эл. почта</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" type="email" name="email" ng-model="user.email" ng-change="loginMsg.error=false" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':showError && Login.pass.$invalid}">
                    <div class="col-md-2">
                        <label class="control-label">Пароль</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" type="password" name="pass" ng-model="user.password" ng-change="loginMsg.error=false" required>
                    </div>
                </div>
                <div class="alert alert-danger" ng-if="loginMsg.error">{{loginMsg.error}}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="close()">Отмена</button>
                <button type="submit" class="btn btn-primary" ng-click="showError=true">Войти</button>
            </div>
        </form>
    </tab>
    <tab heading="Регистрация"  active="tab.register">
        <form name="Register" class="form-horizontal pu-after-auth-form" ng-submit="register()" autocomplete="off">
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <button class="btn btn-info" ng-click="loginTwitter()">Войти через Твиттер</button>
                        <!--<button class="btn btn-primary" ng-click="loginFacebook()">Фейсбук</button>-->
                        <!--<button class="btn btn-default" ng-click="loginGithub()">Гитхаб</button>-->
                    </div>
                </div>
                <hr/><p class="text-center"><em>или</em></p>
                <div class="form-group" ng-class="{'has-error':showError && Register.email.$invalid}">
                    <div class="col-md-2">
                        <label class="control-label">Эл. почта</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" type="email" name="email" ng-model="user.email" ng-change="registerMsg.error=false" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':showError && Register.pass.$invalid}">
                    <div class="col-md-2">
                        <label class="control-label">Пароль</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="pass" ng-model="user.password" ng-change="registerMsg.error=false" required>
                    </div>
                </div>
                <div class="alert alert-danger" ng-if="registerMsg.error">{{registerMsg.error}}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="close()">Отмена</button>
                <button type="submit" class="btn btn-primary" ng-click="showError=true">Зарегистрироваться и войти</button>
            </div>
        </form>
    </tab>
</tabset>